.color1{
    height: 12px;
    border-top: solid 1px var(--gray-300);
    border-left: solid 1px var(--gray-300);
    border-bottom: solid 1px var(--gray-300);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    /* background-color: #8b0dfa; */
}
.color2{
    height: 12px;
    border-top: solid 1px var(--gray-300);
    border-right: solid 1px var(--gray-300);
    border-bottom: solid 1px var(--gray-300);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    /* background-color: #adff2f; */
}
.span-nombre{
    font-weight: 500;
    color: black;
    font-size: 14px;
    text-align: left;
    word-break: break-word; /* rompe palabras largas */
    white-space: normal;    /* permite múltiples líneas */
  }
  .span-desc{
    color: var(--gray-500);
    font-size: 12px;
    text-align: left;
    word-break: break-word; /* rompe palabras largas */
    white-space: normal;    /* permite múltiples líneas */
  }
  .pi-car{
    font-size: 45px;
}
.span-1{
  font-weight: 500;
  color: rgb(43, 43, 43);
  font-size: 10px;
  text-align: left;
  word-break: break-word; /* rompe palabras largas */
  white-space: normal;    /* permite múltiples líneas */
}
.span-2{
  color: var(--gray-500);
  font-size: 10px;
  text-align: left;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que sobrepasa el ancho */
  text-overflow: ellipsis; /* Agrega los "..." cuando el texto es muy largo */
}

.container-line{
  border-bottom: solid 1px var(--gray-200);
  padding: 10px;
}

/* Body */

.custom-banner-header{
  flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
  margin: 5px;                   /* Espacio alrededor de cada banner */
  padding: 3px;
  background: #fff;
  box-shadow: 0 0px 3px rgba(20, 184, 166, 0.5);
  color: var(--gray-500);                 /* Color del texto del banner */
  text-align: center;             /* Centra el texto dentro del banner */
  border-radius: 8px;             /* Bordes redondeados */
  min-width: 30px;
  align-items: center;
  height: 75px;
}
.custom-banner-detail-body {
  flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
  margin: 5px;                   /* Espacio alrededor de cada banner */
  padding: 12px;
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2); 
  color: var(--gray-500);                 /* Color del texto del banner */
  text-align: center;             /* Centra el texto dentro del banner */
  border-radius: 8px;             /* Bordes redondeados */
  min-width: 30px;
  align-items: center;
  height: auto;
}

.span-body-desc{
  color: var(--gray-500);
  font-size: 11px;
  text-align: left;
  word-break: break-word; /* rompe palabras largas */
  white-space: normal;    /* permite múltiples líneas */
}
.span-1-header{
  font-weight: 500;
  color: rgb(43, 43, 43);
  font-size: 13px;
  text-align: left;
  word-break: break-word; /* rompe palabras largas */
  white-space: normal;    /* permite múltiples líneas */
}
.line-right{
  border-right: solid 1px var(--gray-200);
  padding-right: 2px;
  height: 80%;
}
.pi-plus-circle{
  font-size: 25px;
  padding: 5px;
}

.detalle-cuota {
  padding: 0.5rem;
  background: #f7f7f7;
  border-radius: 8px;
  margin-top: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.custom-banner-detail-body-padre{
  flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
  padding: 5px;
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2); 
  color: var(--gray-500);                 /* Color del texto del banner */
  border-radius: 5px;             /* Bordes redondeados */
  min-width: 30px;
  height: auto;
}
/* POP UP DE CONFIRMACION */
  ::ng-deep .p-dialog{
    width: 90%;
    max-width: 550px;
  }
/* Confirmacion */
.txt-label{
    color: var(--gray-500);
    font-size: 14px;
}
.dataConfirm{
    color: var(--primary-500);
    font-weight: 500;
    text-align: center;
}
.pi-ban{
  font-size: 70px;
  font-weight: 800;
  color: red;
}
.txt-primary{
  color: var(--primary-500);
}
.txt-red{
  color: red;
  font-size: 20px;
}
.txt-left {
  text-align: left;
  width: 100%;
  color: var(--gray-500);
  font-weight: 500;
  font-size: 15px;
}
.txt-left .pi{
  color: var(--primary-500);
  font-size: 12px;
  font-weight: 700;
}
.position{
  min-width: 25px;
  background-color: var(--gray-300);
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 5px;
}
.input-fail{
  color: red;
  font-size: 12px;
}
.linea{
  border-bottom: 1px dashed var(--gray-400);
  padding-bottom: 12px;
}
.pi-check-square{
  font-size: 60px;
  font-weight: 700;
  color: var(--primary-500);
}