
<div>
    <div class="surface-card p-2 shadow-0 border-round w-full lg:w-12">
        <div class="flex flex-column w-full justify-content-center gap-2 mb-3 image-presentacion">
            <div class="flex flex-row w-11 justify-content-center">
                <img src="public/logos/logo_ssimple.png" alt="Image" height="200" style="margin-bottom: 0;" class="mb-0">
            </div>
        <span *ngIf="appVersion!=''" class="version-style-float">v{{appVersion}}</span>
        </div>

        <div>
            <form #form="ngForm">

                <div id="div_line_bootom" class="text-gray-500 text-2xl font-medium">Ingresa tu clave</div>
                <div class="login-container">
                    <div *ngIf="passwordFieldType === 'password'" class="flex flex-row gap-5 justify-content-center mb-3 div-pass">
                        <i class="pi pi-circle-fill" [ngClass]="enteredCode.length >= 1 ? 'passCheck':'passNoCheck'"></i>
                        <i class="pi pi-circle-fill" [ngClass]="enteredCode.length >= 2 ? 'passCheck':'passNoCheck'"></i>
                        <i class="pi pi-circle-fill" [ngClass]="enteredCode.length >= 3 ? 'passCheck':'passNoCheck'"></i>
                        <i class="pi pi-circle-fill" [ngClass]="enteredCode.length >= 4 ? 'passCheck':'passNoCheck'"></i>
                        <i class="pi pi-circle-fill" [ngClass]="enteredCode.length >= 5 ? 'passCheck':'passNoCheck'"></i>
                        <i class="pi pi-circle-fill" [ngClass]="enteredCode.length == 6 ? 'passCheck':'passNoCheck'"></i>
                    </div>
                    <div *ngIf="passwordFieldType === 'text'" class="flex flex-row gap-2 justify-content-center mb-3 div-pass">
                        <div class="visibility-pass">{{enteredCode[0]}}</div>
                        <div class="visibility-pass">{{enteredCode[1]}}</div>
                        <div class="visibility-pass">{{enteredCode[2]}}</div>
                        <div class="visibility-pass">{{enteredCode[3]}}</div>
                        <div class="visibility-pass">{{enteredCode[4]}}</div>
                        <div class="visibility-pass">{{enteredCode[5]}}</div>
                    </div>
                    
                    <!-- Teclado numérico aleatorio -->
                    <div class="keypad">
                      <button *ngFor="let number of randomNumbers.slice(0, 9)" 
                              (click)="onDigitPress(number)"
                              class="keypad-button" type="button">
                        {{ number }}
                      </button>
                      <!-- Botón de "Visualizar/Ocultar" contraseña --> <!-- == 'password' ? 'pi-eye' : 'pi-eye-slash'"  -->
                        <button (click)="togglePasswordVisibility()"  class="keypad-button delete-button" type="button">
                            <i class="pi" [ngClass]="passwordFieldType === 'password' ? 'pi-eye-slash' : 'pi-eye'" ></i>
                        </button>
                        <!-- Mostrar el último número -->
                        <button *ngIf="randomNumbers.length > 9" 
                                (click)="onDigitPress(randomNumbers[randomNumbers.length - 1])"
                                class="keypad-button last-button" type="button">
                        {{ randomNumbers[randomNumbers.length - 1] }}
                        </button>
                      <!-- Botón de "Borrar" en la parte inferior derecha -->
                        <button (click)="onDelete()" class="keypad-button delete-button" type="button">
                            <i class="pi pi-delete-left"></i>
                        </button>
                    </div>
                </div>
            </form>
        <div>

        <div class="flex w-full justify-content-center">
            <a class="font-medium no-underline ml-2 text-blue-400 cursor-pointer" (click)="usarOtraCuenta()">Usar otra cuenta</a>
        </div>

    </div>
    <app-loading></app-loading>
</div>