.span-nombre{
    font-weight: 700;
    color: var(--gray-500);
    font-size: 15px;
    text-align: left;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que sobrepasa el ancho */
    text-overflow: ellipsis; /* Agrega los "..." cuando el texto es muy largo */
  }
.span-desc{
    color: var(--gray-500);
    font-size: 14px;
    text-align: left;
  }
  .span-empty{
    color: var(--gray-500);
    font-size: 14px;
    text-align: center;
  }
  .pi-angle-right{
    font-size: 18px;
    color: var(--primary-500);
  }
  .pi-search-minus{
    font-size: 30px;
    color: var(--gray-500);
  }
  .container-cliente{
    border-bottom: solid 1px var(--gray-200);
    padding: 10px;
  }

  .pi-user-plus{
    font-size: 20px;
  }

  a{
    color: var(--blue-500);
    cursor: pointer;
  }