<!-- app.component.html -->
<!-- <p-button label="¡Festejar!" (click)="triggerConfetti()"></p-button> -->


<div>
    <div class="surface-card p-0 shadow-0 border-round w-full lg:w-12">
        <div class="comp_volver">
            <a href="/registrar/confirmar"><i id="volver-icon" class="pi pi-angle-left"></i><p>Volver</p></a>
        </div>
        <div class="text-center mb-1">
            <div id="div_line_bootom" class="text-700 label-title-green">¡INVERSION <br>REGISTRADA!</div>
        </div>

        <div class="flex flex-column w-full">
            <div class="flex flex-row gap-2 align-items-center justify-content-center">
                <div class="flex flex-column justify-content-center w-full custom-banner">
                    <div class="flex flex-column justify-content-between align-items-center w-full">
                        <span class="w-10">S/</span>
                        <span class="txt-span text-5xl" style="word-break: break-all; cursor: pointer;" (click)="triggerConfetti()">{{ objInversion.monto | number:'1.2-2' }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div  id="nombres" pInputText class="w-full mb-4 text-center">
            {{objInversion.nombres +' '+ objInversion.apellidoPaterno+' '+ objInversion.apellidoMaterno}}
        </div>

        <div class="custom-banner-credentials mb-4">
            <div class="flex flex-row w-full justify-content-center mb-2">
                <span class="txt-span-bold">CORREO:</span>
                <span class="w-full txt-span-text">{{objInversion.correo}}</span>
            </div><!--  -->
            <div class="flex flex-row w-full justify-content-around mb-3">
                <span class="txt-span-bold">PASS:</span>
                <div class="flex flex-row justify-content-between w-full txt-span-text">
                    <div class="w-10">
                        <span *ngIf="mostrar" >{{ objInversion.contrasenaClient }}</span> <!-- .txt-span -->
                        <span *ngIf="!mostrar" >**********</span>
                    </div>
                    <div class="w-2">
                        <i *ngIf="mostrar" class="pi pi-eye" (click)="mostrarContrasena()"></i>
                        <i *ngIf="!mostrar" class="pi pi-eye-slash" (click)="mostrarContrasena()"></i>
                    </div>
                </div>
            </div>
            <div class="flex flex-row w-full text-center">
                <p-button *ngIf="!copy" class="w-full" label="Copiar" icon="pi pi-copy" size="small" (onClick)="copyCredentials()"/>
                <p-button *ngIf="copy" class="w-full" label="Copiar" icon="pi pi-check" size="small" (onClick)="copyCredentials()"/>
            </div>
            <p-toast [breakpoints]="{ '500px': { width: '80%', right: '1', left: '3' } }" />
        </div>
        
        <div class="flex flex-row w-full justify-content-center mb-2">
            <span class="txt-aditional w-full">{{objInversion.fechaCreacion}}</span>
        </div>
        <div class="flex flex-row w-full justify-content-center mb-3">
            <span class="txt-aditional w-full">cód. op.: SS-{{objInversion.codOperacion}}</span>
        </div>
        <div class="flex flex-row w-full justify-content-center mb-5">
            <a class="terminos_condiciones" [routerLink]="['/inversion/cartilla']" [queryParams]="{ idInversion: 21 }">Abrir cartilla</a>
        </div>


        <button pButton pRipple label="Ir al inicio" routerLink="/inicio" class="btn-float"></button>


    </div>
</div>