
.icon-span{
  margin-bottom: 8px;
}
/* Estilo para el nombre y presentacion del usuario*/
.label-nombre{
  background: linear-gradient(to right, var(--primary-500), var(--blue-400)); /* Degradado de colores */
  -webkit-background-clip: text; /* Aplicar el fondo degradado al texto para navegadores WebKit */
  background-clip: text; /* Aplicar el fondo degradado al texto */
  -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente para WebKit */
  font-weight: 700;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que sobrepasa el ancho */
  text-overflow: ellipsis; /* Agrega los "..." cuando el texto es muy largo */
}

/* Estilo para el menú inferior */
.footer-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.04);
    display: flex; 
    justify-content: center;
}

/* Estilo para el Banner */

  .custom-banner-1, .custom-banner-2 {
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    margin: 5px;                   /* Espacio alrededor de cada banner */
    padding: 10px;                  /* Espacio dentro de cada banner */
    background: #fff;
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 30px;
    align-items: center;
  }
  .custom-banner-codigo-unico{
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    margin: 5px;                   /* Espacio alrededor de cada banner */
    padding: 10px;
    background: #fff;
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 30px;
    align-items: center;
    height: 80px;
  }
  
  .mostrar-datos{
    background: linear-gradient(to right, var(--primary-500), var(--blue-400));
    color: white;
    border-radius: 10px;
    font-size: 15px;
  }
  .mostrar-datos i{
    font-size: 15px;
    margin-right: .5rem;
  }
 
/*   .span-1 span{
    color: var(--primary-500);
    font-size: 16px;
  }
  .span-2 span{
    color: var(--blue-400);
    font-size: 16px;
  }
  .span-1 i{
    font-size: 16px;
    color: var(--primary-500);
  } */

