<div class="card"> <!--  -->
  <div *ngIf="cargando" class="loading-bar"></div> <!--  -->
  <div class="flex items-center justify-content-center w-full h-full">
    <div class="w-full max-w-3xl p-3 bg-white rounded-2xl shadow-lg">
      <p-stepper [(value)]="activeStep" class="w-full">
        <p-step-list>
          <p-step [value]="1">
            <ng-template #content let-activateCallback="activateCallback" let-value="value">
              <p-button icon="pi pi-user" [rounded]="true"
                [severity]="value <= activeStep ? 'success' : 'secondary'" /><!-- (click)="activateCallback()" -->
            </ng-template>
          </p-step>

          <p-step [value]="2">
            <ng-template #content let-activateCallback="activateCallback" let-value="value">
              <p-button icon="pi pi-verified" [rounded]="true"
                [severity]="value <= activeStep ? 'success' : 'secondary'" /><!-- (click)="activateCallback()" -->
            </ng-template>
          </p-step>
        </p-step-list>

        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-column align-items-center gap-2 mx-auto text-center mb-4" style="max-width: 20rem;">
                <h2 class="text-xl font-semibold">Tipo y número de documento</h2>
                <div class="flex flex-row w-full gap-1 justify-content-between">
                  <div class="flex w-7 flex-column justify-content-center gap-2 align-items-left">
                    <div class="flex flex-column align-items-center gap-1 mb-3">
                      <p-select [options]="tipoDocs" [(ngModel)]="selectedTipoDoc" optionLabel="descripcionAbrev"
                        (onChange)="onTipoDocChange()" placeholder="Tipo de Documento" class="w-full" />
                      <input appSoloNumeros (ngModelChange)="showMessage=false" [(ngModel)]="nroDocumento" pInputText
                        placeholder="Número de Documento" class="w-full text-overflow-ellipsis" />
                      <span *ngIf="selectedTipoDoc?.codigo === '01' && nroDocumento.length > 8"
                        class="w-full input-fail">El
                        DNI
                        ingresado supera los 8 dígitos.</span>
                      <span *ngIf="selectedTipoDoc?.codigo === '06' && nroDocumento.length > 11"
                        class="w-full input-fail">El
                        RUC
                        ingresado supera los 11 dígitos.</span>
                    </div>
                  </div>
                  <div class="flex w-5 flex-column justify-content-center align-items-center">
                    <div class="flex flex-row justify-content-center items-center gap-2 mb-4">
                      <span class="tag w-full" (click)="reniecSunat=!reniecSunat"
                        [ngClass]="reniecSunat?'success':''">Reniec / Sunat</span>
                    </div>

                  </div>
                </div>

                <!-- Persona Natural -->
                <div *ngIf="selectedTipoDoc?.codigo==='01'" class="flex flex-column gap-2">
                  <!-- *ngIf="selectedTipoDoc!=null" -->
                  <div class="flex flex-wrap justify-center gap-1 mb-2">
                    <label for="nombres" class="block font-medium mb-2">Nombres</label>
                    <input id="nombres" [(ngModel)]="cliNatural.nombres" (ngModelChange)="showMessage=false"
                      maxlength="70" pInputText placeholder="Nombres" class="w-full text-overflow-ellipsis" required />
                  </div>
                  <div class="flex flex-row justify-content-between gap-2 mb-2 w-full">
                    <div class="flex flex-wrap justify-center gap-1 mb-2">
                      <label for="apellidop" class="block font-medium mb-2d">Apellido paterno</label>
                      <input id="apellidop" [(ngModel)]="cliNatural.apellidoPaterno" (ngModelChange)="showMessage=false"
                        maxlength="70" pInputText placeholder="Apellido paterno" class="w-full text-overflow-ellipsis"
                        required />
                    </div>
                    <div class="flex flex-wrap justify-center gap-1 mb-2">
                      <label for="apellidom" class="block font-medium mb-2">Apellido materno</label>
                      <input id="apellidom" [(ngModel)]="cliNatural.apellidoMaterno" (ngModelChange)="showMessage=false"
                        maxlength="70" pInputText placeholder="Apellido materno" class="w-full text-overflow-ellipsis"
                        required />
                    </div>
                  </div>
                </div>
                <!-- Persona Juridica -->
                <div *ngIf="selectedTipoDoc?.codigo==='06'" class="flex flex-column gap-2"> <!--  -->
                  <div class="flex flex-wrap justify-center gap-1 mb-2">
                    <label for="rasonsocial" class="block font-medium mb-2">Razón social</label>
                    <input id="rasonsocial" [(ngModel)]="cliJuridico.razonSocial" (ngModelChange)="showMessage=false"
                      maxlength="70" pInputText placeholder="Razón social" class="w-full text-overflow-ellipsis"
                      required />
                  </div>
                </div>

                <!-- Correo Electronico -->
                <div *ngIf="selectedTipoDoc!=null" class="flex flex-wrap justify-center gap-1 mb-2">
                  <label for="email" class="block font-medium mb-2">Correo electrónico</label>
                  <input id="email" [(ngModel)]="correo" (ngModelChange)="showMessage=false" maxlength="70" pInputText
                    placeholder="ejemplo@gmail.com" class="w-full text-overflow-ellipsis" required />
                </div>

              </div>
              <div class="flex flex-column align-items-center gap-2 mx-auto text-center">
                <p-message *ngIf="showMessage" [severity]="severity" size="small">{{message}}</p-message>
              </div>
              <div class="flex pt-6 justify-content-end">
                <p-button (onClick)="buscarCliente(selectedTipoDoc.codigo, nroDocumento, activateCallback)"
                  label="Siguiente" icon="pi pi-arrow-right" iconPos="right" [disabled]="!isFormValid()"
                  [ngClass]="{
                    'btn-disabled': !isFormValid() }"/>
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">

              <div class="flex flex-column align-items-center gap-1 mx-auto text-center"
                style="max-width: 24rem; min-height: 18rem;">

                <div class="flex flex-column gap-4 align-items-center mode-responsive mb-5">
                  <span class="font-bold labelCodUnico">{{headerMessage}}</span>
                  <span [innerHTML]="bodyMessage" class="text-gray-500">{{bodyMessage}}</span>
                  <!-- <span class="font-semibold text-blue-500 cursor-pointer">Ver flujo completo</span> -->
                </div>

                <!-- SOLO SI YA SE REGISTRO EN EL APP -->
                <div *ngIf="data?.data?.estado==='I'"
                  class="flex flex-column custom-banner-active mode-responsive mb-3">
                  <div class="flex flex-row justify-content-between align-items-center mb-2 div_line_bootom">
                    <h5 class="text-sm font-bold text-green-600 m-0">INICIA SESIÓN</h5>
                    <h3 class="font-bold text-gray-600 m-0">Descargar APP</h3>
                  </div>
                  <div class="flex flex-column justify-content-between align-items-center mb-2">
                    <p class="text-gray-500">Descarga nuestra app desde:</p>
                    <a href="https://play.google.com/store/apps/details?id=com.ssimple.app&pcampaignid=web_share"
                      target="_blank">
                      <lottie-player src="/public/elements/store/play_store.json" background="transparent" speed="1"
                        loop autoplay style="width: 150px; cursor: pointer; transition: transform 0.2s;"
                        onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                      </lottie-player>
                    </a>
                  </div>
                  <div class="flex flex-column justify-content-between align-items-center mb-2">
                    <p class="text-gray-500">ó</p>
                    <div class="flex flex-column">
                      <p-button severity="info" variant="outlined"
                        (click)="copyUrlStore('https://play.google.com/store/apps/details?id=com.ssimple.app&pcampaignid=web_share')">{{messaheCopiarUrlStore}}</p-button>
                    </div>
                  </div>
                </div>

                <!-- PASOS PARA IR A APP SSIMPLE -->
                <div *ngIf="data?.data?.estado==='A' || data?.codigo==='SS00RI00'"
                  class="card flex justify-center mode-responsive">
                  <p-stepper [value]="1" class="w-full">
                    <p-step-list class="p-step-list">
                      <p-step [value]="1">Código único</p-step>
                      <p-step [value]="2">Descargar APP</p-step>
                      <p-step [value]="3">Activar Cuenta</p-step>
                    </p-step-list>
                    <p-step-panels>
                      <p-step-panel [value]="1">
                        <ng-template #content let-activateCallback="activateCallback">
                          <div class="flex flex-column h-48">
                            <div>
                              <div class="flex flex-column custom-banner-active mode-responsive mb-3">
                                <div
                                  class="flex flex-row justify-content-between align-items-center mb-2 div_line_bootom">
                                  <h5 class="text-sm font-bold text-green-600 m-0">PASO 1</h5>
                                  <h3 class="font-bold text-gray-600 m-0">Código único</h3>
                                </div>
                                <div class="flex flex-column">
                                  <p class="text-gray-500">Tu código único es: </p>
                                  <span class="font-bold labelCodUnico">{{ data?.data?.codigo }}</span>
                                </div>
                                <div class="flex flex-column mb-5">
                                  <p class="text-gray-500">Correo afiliado:</p>
                                  <span class="font-bold labelCodUnico">{{ data?.data?.descripcion }}</span>
                                </div>
                                <div class="flex flex-column">
                                  <p-button severity="info" variant="outlined"
                                    (click)="copyCodigoOperacion(data?.data?.codigo, data?.data?.descripcion)">{{messageCopiarCodUnico}}</p-button>
                                </div>

                              </div>
                            </div>
                            <div class="flex pt-3 justify-content-end">
                              <p-button label="Paso 2" icon="pi pi-arrow-right" iconPos="right"
                                (onClick)="activateCallback(2)" />
                            </div>
                          </div>
                        </ng-template>
                      </p-step-panel>

                      <p-step-panel [value]="2">
                        <ng-template #content let-activateCallback="activateCallback">
                          <div class="flex flex-column h-48">
                            <div>
                              <div class="flex flex-column custom-banner-active mode-responsive mb-3">
                                <div
                                  class="flex flex-row justify-content-between align-items-center mb-2 div_line_bootom">
                                  <h5 class="text-sm font-bold text-green-600 m-0">PASO 2</h5>
                                  <h3 class="font-bold text-gray-600 m-0">Descargar APP</h3>
                                </div>
                                <div class="flex flex-column justify-content-between align-items-center mb-2">
                                  <p class="text-gray-500">Descarga nuestra app desde:</p>
                                  <a href="https://play.google.com/store/apps/details?id=com.ssimple.app&pcampaignid=web_share"
                                    target="_blank">
                                    <lottie-player src="/public/elements/store/play_store.json" background="transparent"
                                      speed="1" loop autoplay
                                      style="width: 150px; cursor: pointer; transition: transform 0.2s;"
                                      onmouseover="this.style.transform='scale(1.05)'"
                                      onmouseout="this.style.transform='scale(1)'">
                                    </lottie-player>
                                  </a>
                                </div>
                                <div class="flex flex-column justify-content-between align-items-center mb-2">
                                  <p class="text-gray-500">ó</p>
                                  <div class="flex flex-column">
                                    <p-button severity="info" variant="outlined"
                                      (click)="copyUrlStore('https://play.google.com/store/apps/details?id=com.ssimple.app&pcampaignid=web_share')">{{messaheCopiarUrlStore}}</p-button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex pt-3 justify-content-between">
                            <p-button label="Paso 1" severity="secondary" icon="pi pi-arrow-left"
                              (onClick)="activateCallback(1)" />
                            <p-button label="Paso 3" icon="pi pi-arrow-right" iconPos="right"
                              (onClick)="activateCallback(3)" />
                          </div>
                        </ng-template>
                      </p-step-panel>

                      <p-step-panel [value]="3">
                        <ng-template #content let-activateCallback="activateCallback">
                          <div class="flex flex-column h-48">
                            <div>
                              <div class="flex flex-column custom-banner-active mode-responsive">
                                <div
                                  class="flex flex-row justify-content-between align-items-center mb-2 div_line_bootom">
                                  <h5 class="text-sm font-bold text-green-600 m-0">PASO 3</h5>
                                  <h3 class="font-bold text-gray-600 m-0">Activar Cuenta</h3>
                                </div>

                                <p class="text-gray-500 text-left">
                                  1. Abre la aplicación y toca el botón “<span class="font-bold text-blue-400">¡Crea
                                    hoy!</span>”.
                                </p>
                                <p class="text-gray-500 text-left">
                                  2. Ingresa tu <span class="font-bold text-green-400">correo electrónico</span>, crea
                                  tu <span class="font-bold text-green-400">contraseña</span> e ingresa el <span
                                    class="font-bold text-green-400">código único</span> que acabas de crear.
                                </p>
                                <div class="flex flex-column gap-3 align-items-center">
                                  <span class="font-bold labelCodUnico">{{ '¡Listo!' }}</span>
                                  <span class="text-gray-500">Completa el registro y empieza a disfrutar
                                    de la aplicación.</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex pt-3 justify-content-start">
                            <p-button label="Paso 2" icon="pi pi-arrow-left" iconPos="right"
                              (onClick)="activateCallback(2)" />
                          </div>
                        </ng-template>
                      </p-step-panel>
                    </p-step-panels>
                  </p-stepper>
                </div>

              </div>

              <div class="flex justify-start">
                <p-button (onClick)="onBack(activateCallback, 1)" label="Atrás" severity="secondary"
                  icon="pi pi-arrow-left" />
              </div>
            </ng-template>
          </p-step-panel>

        </p-step-panels>
      </p-stepper>
    </div>
  </div>
</div>