.labelCodUnico {
  background: linear-gradient(135deg, #03d9ff, #02ca55); /* tu degradado */
  -webkit-background-clip: text;  /* Para Chrome, Safari */
  background-clip: text;          /* Para navegadores modernos */
  -webkit-text-fill-color: transparent; /* Hace transparente el relleno */
  font-weight: bold; /* opcional: se ve más elegante */
  font-size: 1.2rem;
}


.logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;      /* Ajusta el tamaño del logo */
  height: 42px;
  border-radius: 50%; /* Para que quede circular */
  background: white;  /* Fondo blanco para que no tape el QR */
  padding: 2px;       /* Espacio entre logo y QR */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* Sombrita moderna */
}
.name{
    color: #02ca55;
}
.text-base{
  color: var(--gray-500);
}

  .custom-banner-active {
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    margin: 0px;                   /* Espacio alrededor de cada banner */
    padding: 20px;                  /* Espacio dentro de cada banner */
    background: #fff;
    box-shadow: 0 0px 3px var(--primary-500);
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    border-radius: 8px;             /* Bordes redondeados */
  }


  /* Estilo Reniec Sunat */
.tag{
    background-color: var(--gray-200);
    color: var(--gray-500);
    font-weight: 600;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}
.success{
    background-color: #0ea5e9;
    color: white;
    border: #0ea5e9;
}

.txt-label{
    color: var(--gray-500);
}