.span-1{
    font-weight: 500;
    color: rgb(43, 43, 43);
    font-size: 22px;
    text-align: center;
    color: var(--gray-500);
    font-weight: 600;
  }
.span-2{
    color: var(--gray-500);
    font-size: 18px;
    text-align: center;
  }
  .pi-car{
    font-size: 5rem;
  }
  .txt-aditional{
    color: var(--gray-500);
    padding: 10px;
    border-bottom: 1px solid var(--gray-300);
    text-align: center;
  }
  .terminos_condiciones{
    text-align: center;
    text-decoration: none;
  }