<div class="surface-card p-0 shadow-0 border-round w-full lg:w-12">

    <div class="flex flex-column justify-content-center align-items-center">
        <div class="text-center mb-4">
            <div class="text-2xl mb-3 label-title">Rentabilidad</div>
        </div>
        <span class="block mb-2">Rentabilidad próximamente</span>
        <div class="flex flex-column justify-content-center align-items-center mb-2">
            <lottie-player src="/public/system/revenue.json" background="transparent" speed="1" loop autoplay
                style="width: 70%; cursor: pointer; transition: transform 0.2s;"
                onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
            </lottie-player>
        </div>
        <div class="text-center">
            <div class="valor-txt-detail mb-3 text-gray-500">Estamos trabajando para habilitar esta sección y ofrecerte reportes
                de rentabilidad detallados muy pronto.</div>
        </div>
    </div>

    <button pButton pRipple label="Ir al inicio" routerLink="/inicio" class="btn-float"></button>
</div>