
<div>
    <!-- <div class="surface-card p-4 shadow-2 border-round w-full lg:w-12"> -->
    <div class="surface-card p-0 shadow-0 border-round w-full lg:w-12">
        <div class="comp_volver">
            <a href="/registrar/datosinversion"><i id="volver-icon" class="pi pi-angle-left"></i><p>Volver</p></a>
        </div>
        <div class="text-center mb-5">
            <div id="div_line_bootom" class="text-700 text-2xl font-medium mb-3 label-title">Datos del cliente</div>
        </div>

        <!-- Radio button select estado del cliente, si existe o sera uno nuevo -->
        <div class="flex flex-row justify-content-center gap-1 mb-4">
            <div class="flex align-items-center w-full">
                <p-radioButton 
                    name="btnStatusCliente" 
                    value="1" 
                    [(ngModel)]="statusClient" 
                    inputId="existente" 
                    (click)="functStatusClient(1)"/>
                <label for="existente" class="ml-2">
                    Cliente existente
                </label>
            </div>
            
            <div class="flex align-items-center w-full">
                <p-radioButton 
                    name="btnStatusCliente" 
                    value="2" 
                    [(ngModel)]="statusClient" 
                    inputId="nuevo"
                    (click)="functStatusClient(2)"/>
                <label for="nuevo" class="ml-2">
                    Nuevo cliente
                </label>
            </div>
        </div>

        <div *ngIf="statusClient == 1" class="card flex justify-content-center mb-3" id="contListBox">
            <p-listbox 
                [options]="listaClientes" 
                [(ngModel)]="objClient" 
                [filter]="true" 
                optionLabel="persona.fullName"
                [style]="{ width: '100%' }" 
                [listStyle]="{'max-height': '220px'}"
                [emptyMessage]="'No hay clientes disponibles.'"
                [emptyFilterMessage]="'No hay clientes disponibles.'"
                class="w-full"
                [filterPlaceHolder]="'Seleccione un cliente'"
                >
            </p-listbox>
            <!-- (click)="metodoMostrar()" -->
        </div>

        <div>
            <label for="nombres" class="block text-900 font-medium mb-2">Nombres</label>
            <input [(ngModel)]="objClient.persona.nombres" [disabled]="clientSelect" id="nombres" type="text" autocomplete="off" placeholder="Nombres" pInputText appSoloLetras class="w-full mb-3">
             
            <div class="flex flex-row gap-2 align-items-center justify-content-center">
                <div class="flex flex-column w-full">
                    <label for="apellidop" class="block text-900 font-medium mb-2">Apellido paterno</label>
                    <input [(ngModel)]="objClient.persona.apellidoPaterno" [disabled]="clientSelect" id="apellidop" type="text" placeholder="Apellido paterno" pInputText appSoloLetras class="w-full mb-3">
                </div>

                <div class="flex flex-column w-full">
                    <label for="apellidom" class="block text-900 font-medium mb-2">Apellido materno</label>
                    <input [(ngModel)]="objClient.persona.apellidoMaterno" [disabled]="clientSelect" id="apellidom" type="text" placeholder="Apellido materno" pInputText appSoloLetras class="w-full mb-3">
                </div>
            </div>

            <div class="flex flex-row gap-2 align-items-center justify-content-center">
                <div class="flex flex-column w-full">
                    <label for="celular" class="block text-900 font-medium mb-2">Celular</label>
                    <input [(ngModel)]="objClient.persona.celular" [disabled]="clientSelect" id="celular" type="text" placeholder="Celular" pInputText appNroCelular class="w-full mb-3">
                </div>

                <div class="flex flex-column w-full">
                    <label for="direccion" class="block text-900 font-medium mb-2">Dirección</label>
                    <input [(ngModel)]="objClient.persona.direccion" [disabled]="clientSelect" id="direccion" type="text" placeholder="Dirección" pInputText class="w-full mb-3">
                </div>
            </div>

            <div *ngIf="statusClient==2" class="flex flex-row justify-content-center gap-1 w-full mb-5" style="max-width: 550px;">
                <i class="pi pi-info-circle"></i><small>Al crear la inversión se creara un correo y contraseña para que tu cliente le pueda dar seguimiento.</small>
            </div>

            <!-- <label for="comentario" class="block text-900 font-medium mb-2">Comentario</label>
            <input id="comentario" type="text" autocomplete="off" placeholder="comentario" pInputText appSoloLetras class="w-full mb-3">
              -->

            <div class="card mb-3" style="padding: 5px;">
                <p-floatLabel class="w-full">
                    <textarea 
                        class="w-full"
                        id="float-comentario" 
                        rows="3"
                        cols="30" 
                        [value]="txtComentario"
                        [maxLength]="180"
                        pInputTextarea>
                    </textarea>
                    <label for="float-comentario">Comentario</label>
                </p-floatLabel>
            </div>
        </div>

        <button pButton [ngClass]="{
            'btn-disabled': !isFormValid()
          }"
        pRipple label="Siguiente" (click)="registerInvFalse()" [disabled]="!isFormValid()" class="w-full"></button>

    </div>
</div>