router-outlet {
    /* flex: 1; */ /* Esto permite que el contenido ocupe el espacio disponible */
    padding: 0 !important;
  }
  
/*   header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
  } */
  

/*   _______________________________________________________________________ */

header {
    position: fixed; /* Hace que el header esté fijo */
    top: 0; /* Lo posiciona en la parte inferior */
    left: 50%; /* Mueve el header al centro */
    transform: translateX(-50%); /* Ajusta el header hacia la izquierda para centrarlo */
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Sombra para destacar el header */
    max-width: 550px; /* Ancho máximo */
    width: 100%; /* Asegura que ocupe el 100% del espacio disponible hasta max-width */
    text-align: center; /* Centra el texto dentro del header */
    height: 3.5rem;
    background-color: white;
  }
  .flex {
    height: 100%;
}
/* .pi-user{
    font-size: 1.4rem;
    padding: 6px;
    border-radius: 50%;
    border: 3px solid var(--primary-400); 
} */

.pi-angle-left{
  font-size: 1.8rem !important;
}

li a{
  cursor: pointer;
  text-decoration: none;
  color: var(--gray-600);
}


/* slider */

/* El sidebar inicial estará oculto con width: 0 */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilo de los links en el sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Cambia el color cuando se pasa el mouse */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Botón para cerrar el sidebar */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* El contenido principal no se mueve */
#main {
  padding: 16px;
}

/* Estilo del sidebar cuando está abierto */
.sidebar.open {
  width: 250px;
}

/* Botón para abrir el sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  padding: 10px 15px;
}

/* Cambia el color del botón cuando se pasa el mouse */
.openbtn:hover {
  background-color: #444;
}

/* estilo para cerrar sesion */
.div_cerrarsesion{
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.closeSession .pi, .closeSession span{
  color: red;
}

.router-container {
  position: relative;
}
.header{
  font-weight: 700;
  font-size: 1.3rem;
}

/* Para los ul */
.p-ul {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.pi-star-fill{
  color: yellow !important;
}
.pi{
  color: var(--primary-500);
}