<div class="flex flex-column gap-1 justify-content-center align-items-center text-center" style="padding-top: 40px;">
    <p-message severity="info" icon="pi pi-send" text="Mantenimiento en progreso."
        styleClass="h-full" />
    <!-- <h2 class="text-base font-semibold text-gray-600">Muy pronto habilitaremos nuevamente el servicio para que puedas
    crear más.</h2> -->
    <lottie-player src="/public/system/mantenimiento.json" background="transparent" speed="1"
        style="width: 90%; height: 30%; max-width: 500px; margin-bottom: 20px;" loop autoplay>
    </lottie-player>


    <h2 class="text-base font-semibold text-gray-600">Estamos trabajando para mejorar tu experiencia. El sistema estará disponible nuevamente en unos minutos.</h2>


    <div style="height: 60px;"></div>
    <a class="mb-1 btn-float"
        href="https://wa.me/51920605673?text=Hola,%20deseo%20recibir%20asistencia%20durante%20el%20mantenimiento%20del%20sistema."
        target="_blank">
        <p-button label="WhatsApp" icon="pi pi-whatsapp" severity="success" [raised]="true" />
    </a>


</div>