
<div class="flex flex-column gap-5">
    <header>
        <div class="flex flex-row justify-content-between align-items-center p-2">
          <div class="comp_volver">
            <ng-template [ngIf]="showVolverButton">
              <a (click)="volver()"><i id="volver-icon" class="pi pi-angle-left"></i></a>
            </ng-template>
            <ng-template [ngIf]="!showVolverButton">
              <a *ngIf="!showAux"><i id="volver-icon" class="pi pi-home icon-span"></i></a>
            </ng-template>
            
            
            <!-- <a *ngIf="showAux">H</a> -->
          </div>
          <img src="assets/images/logos/logo_ssimple.png" alt="Image" height="55" style="margin-top: 0;" class="mb-0">

        </div>
    </header>
      
    <router-outlet style="padding-top: 1rem;"></router-outlet>
</div>

            <!-- <a href="/registrar/confirmar"><i id="volver-icon" class="pi pi-angle-left"></i><p>Volver</p></a> -->

            <!-- <div><i class="pi pi-home"></i></div>
            <div><i class="pi pi-list"></i></div>-->
            <!-- <div><i class="pi pi-user icon-span"></i></div>  -->