
.icon-span{
    font-size: 1.5rem;
    color: var(--primary-500);
}

.params-txt{
    margin-left: 5px;
    font-weight: 600;
    font-size: 15px;
}
.valor-txt{
    margin-left: 5px;
    color: var(--gray-500);
    font-weight: 400;
    font-size: 14px;
}


/* propiedades de la tabla */
.position{
    min-width: 25px;
    background-color: var(--gray-300);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
.position_pass{
    min-width: 25px;
    background-color: var(--primary-500);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
table {
    width: 100%;
    border-collapse: collapse; /* Funde los bordes para evitar bordes dobles */
    align-items: center;
    text-align: center;
}
td{
    min-width: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente (opcional) */
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    /*   */
    /* background: linear-gradient(to right, var(--primary-500), white); */    /* Color de fondo del banner */
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    align-items: center;
    cursor: pointer;

}

.cont-pago{
    padding: 3px;
    min-width: 70px;
    min-height: 70px;
}

.fecha{
    font-size: 8.5px;
    font-weight: 800;
    margin-top: 3px;
}
.pendiente-txt{
    text-align: right;
    color: var(--gray-500);
    font-size: 13px;
    margin-top: .5rem;
}

/* DATOS DE LA INVERSION */

.txt-blue{
    color: var(--blue-400);
    font-weight: 600;
}
.valor-txt-detail{
    margin-left: 5px;
    color: var(--gray-500);
    font-weight: 400;
    font-size: 16px;
}

/* DATOS DEL CLIENTE */
.custom-banner-credentials{
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    margin: 5px;                   /* Espacio alrededor de cada banner */
    padding: 15px;                  /* Espacio dentro de cada banner */
    /* background: linear-gradient(to right, var(--primary-500), white); */    /* Color de fondo del banner */
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
    color: var(--gray-500);                 /* Color del texto del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 3px;
  }
  .txt-span-bold{
    text-align: right;
    font-weight: 500;
    min-width: 90px;
    padding-right: 5px;
  }
  .txt-span-text{
    text-align: center;
  }
  .pi{
    cursor: pointer;
  }