
.icon-span{
    color: var(--primary-500);
    margin-bottom: 8px;
}
.i-present{
    font-size: 1.3rem;
}
.pi-user{
    font-size: 1.8rem;
}
.params-txt{
    margin-left: 5px;
    font-weight: 600;
    font-size: 15px;
}
.txt-detalles{
    font-size: 1rem;
    font-weight: 700;
}
.valor-txt{
    margin-left: 5px;
    color: var(--gray-500);
    font-weight: 400;
    font-size: 14px;
}


/* propiedades de la tabla */
.position{
    min-width: 25px;
    background-color: var(--gray-300);
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
.position_pass{
    min-width: 25px;
    background-color: var(--primary-500);
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
table {
    width: 100%;
    border-collapse: collapse; /* Funde los bordes para evitar bordes dobles */
    align-items: center;
    text-align: center;
}
td{
    min-width: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente (opcional) */
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    /*   */
    /* background: linear-gradient(to right, var(--primary-500), white); */    /* Color de fondo del banner */
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    align-items: center;

}

.cont-pago{
    padding: 3px;
    min-width: 70px;
    min-height: 70px;
}

.fecha{
    font-size: 8.5px;
    font-weight: 800;
    margin-top: 3px;
}
.pendiente-txt{
    text-align: right;
    color: var(--gray-500);
    font-size: 13px;
    margin-top: .5rem;
}

/* DATOS DE LA INVERSION */

.valor-txt-detail{
    margin-left: 5px;
    color: var(--gray-500);
    font-weight: 400;
    font-size: 16px;
}

/* DATOS DEL CLIENTE */
.custom-banner-credentials{
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    padding: 10px;                  /* Espacio dentro de cada banner */
    /* background: linear-gradient(to right, var(--primary-500), white); */    /* Color de fondo del banner */
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
    color: var(--gray-500);                 /* Color del texto del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 3px;
  }
  .txt-span-bold{
    text-align: right;
    font-weight: 500;
    min-width: 90px;
    padding-right: 5px;
  }
  .txt-span-text{
    text-align: center;
  }

  /* POP UP DE CONFIRMACION */
  ::ng-deep .p-dialog{
    width: 90%;
    max-width: 550px;
  }

  /* banner gris */
  .custom-banner-present {
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); 
    color: var(--gray-500);                 /* Color del texto del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 30px;
    align-items: center;
    padding: 10px;
  }

  /* Estilos de la linea de tiempo */
  .timeline span{
    font-size: 12px;
    color: var(--gray-500);
  }
    .space-timeline{
        
        align-items: center;
        height: 2px;
    }
    .done{
        background-color: var(--blue-300);
    }
    .not-done{
        background-color: var(--gray-300);
    }
    .pi-stop-circle{
        color: var(--gray-400);
    }
    .pi-check-circle{
        color: var(--blue-400);
    }
  .custom-banner-blue {
    flex: 1;  
    padding: 10px;
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px var(--blue-400);
    color: var(--gray-500);
    border-radius: 8px;
    min-width: 3px;
  }