
<div>
    <div class="surface-card p-0 shadow-0 border-round w-full lg:w-12">
        
        <div class="text-center mb-3">
            <div id="div_line_bootom" class="text-700 text-2xl font-medium label-title">Cartilla de inversión</div>
        </div>

        <div class="flex flex-row w-full mb-3 custom-banner-present">
            <div class="flex flex-row w-7 paddin-5 gap-1">
                <div class="flex align-items-center"><i class="pi pi-user icon-span i-present"></i></div>
                <div class="flex flex-column justify-content-center w-full">
                    <!-- <span class="params-txt mb-1">Cliente</span> -->
                    <span class="valor-txt">{{objInvDetail.persona.nombres+' '+objInvDetail.persona.apellidoPaterno+' '+objInvDetail.persona.apellidoMaterno}}</span>
                </div>
            </div>
            <div class="flex flex-row w-5 paddin-5 cont-banner gap-1">
                <div class="flex flex-column justify-content-center align-items-center" style="padding-top: 5px;">
                    <span class="icon-span i-present">S/.</span>
                </div>
                <div class="flex flex-column justify-content-center w-full">
                    <!-- <span class="params-txt mb-1">Monto</span> -->
                    <span class="valor-txt">{{objInvDetail.monto | number:'1.2-2'}}</span>
                </div>
            </div>
        </div>

        <ng-template [ngIf]="nroCuotas == 7">
            <div class="w-full">
                <table>
                    <tbody>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp1==null" class="position_pass" (click)="pagarCuota(1)">1</div>
                                <div *ngIf="objInvDetail.fp1!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp1}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp1==null" class="position">2</div>
                                <div *ngIf="objInvDetail.fp1!=null && objInvDetail.fp2==null" class="position_pass" (click)="pagarCuota(2)">2</div>
                                <div *ngIf="objInvDetail.fp2!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp2}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp2==null" class="position">3</div>
                                <div *ngIf="objInvDetail.fp2!=null && objInvDetail.fp3==null" class="position_pass" (click)="pagarCuota(3)">3</div>
                                <div *ngIf="objInvDetail.fp3!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp3}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp3==null" class="position">4</div>
                                <div *ngIf="objInvDetail.fp3!=null && objInvDetail.fp4==null" class="position_pass" (click)="pagarCuota(4)">4</div>
                                <div *ngIf="objInvDetail.fp4!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp4}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp4==null" class="position">5</div>
                                <div *ngIf="objInvDetail.fp4!=null && objInvDetail.fp5==null" class="position_pass" (click)="pagarCuota(5)">5</div>
                                <div *ngIf="objInvDetail.fp5!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp5}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp5==null" class="position">6</div>
                                <div *ngIf="objInvDetail.fp5!=null && objInvDetail.fp6==null" class="position_pass" (click)="pagarCuota(6)">6</div>
                                <div *ngIf="objInvDetail.fp6!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp6}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp6==null" class="position">7</div>
                                <div *ngIf="objInvDetail.fp6!=null && objInvDetail.fp7==null" class="position_pass" (click)="pagarCuota(7)">7</div>
                                <div *ngIf="objInvDetail.fp7!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp7}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>

        <ng-template [ngIf]="nroCuotas == 24">
            <div class="w-full">
                <table>
                    <tbody>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp1==null" class="position_pass" (click)="pagarCuota(1)">1</div>
                                <div *ngIf="objInvDetail.fp1!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp1}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp1==null" class="position">2</div>
                                <div *ngIf="objInvDetail.fp1!=null && objInvDetail.fp2==null" class="position_pass" (click)="pagarCuota(2)">2</div>
                                <div *ngIf="objInvDetail.fp2!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp2}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp2==null" class="position">3</div>
                                <div *ngIf="objInvDetail.fp2!=null && objInvDetail.fp3==null" class="position_pass" (click)="pagarCuota(3)">3</div>
                                <div *ngIf="objInvDetail.fp3!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp3}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp3==null" class="position">4</div>
                                <div *ngIf="objInvDetail.fp3!=null && objInvDetail.fp4==null" class="position_pass" (click)="pagarCuota(4)">4</div>
                                <div *ngIf="objInvDetail.fp4!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp4}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp4==null" class="position">5</div>
                                <div *ngIf="objInvDetail.fp4!=null && objInvDetail.fp5==null" class="position_pass" (click)="pagarCuota(5)">5</div>
                                <div *ngIf="objInvDetail.fp5!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp5}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp5==null" class="position">6</div>
                                <div *ngIf="objInvDetail.fp5!=null && objInvDetail.fp6==null" class="position_pass" (click)="pagarCuota(6)">6</div>
                                <div *ngIf="objInvDetail.fp6!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp6}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp6==null" class="position">7</div>
                                <div *ngIf="objInvDetail.fp6!=null && objInvDetail.fp7==null" class="position_pass" (click)="pagarCuota(7)">7</div>
                                <div *ngIf="objInvDetail.fp7!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp7}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp7==null" class="position">8</div>
                                <div *ngIf="objInvDetail.fp7!=null && objInvDetail.fp8==null" class="position_pass" (click)="pagarCuota(8)">8</div>
                                <div *ngIf="objInvDetail.fp8!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp8}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp8==null" class="position">9</div>
                                <div *ngIf="objInvDetail.fp8!=null && objInvDetail.fp9==null" class="position_pass" (click)="pagarCuota(9)">9</div>
                                <div *ngIf="objInvDetail.fp9!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp9}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp9==null" class="position">10</div>
                                <div *ngIf="objInvDetail.fp9!=null && objInvDetail.fp10==null" class="position_pass" (click)="pagarCuota(10)">10</div>
                                <div *ngIf="objInvDetail.fp10!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp10}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp10==null" class="position">11</div>
                                <div *ngIf="objInvDetail.fp10!=null && objInvDetail.fp11==null" class="position_pass" (click)="pagarCuota(11)">11</div>
                                <div *ngIf="objInvDetail.fp11!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp11}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp11==null" class="position">12</div>
                                <div *ngIf="objInvDetail.fp11!=null && objInvDetail.fp12==null" class="position_pass" (click)="pagarCuota(12)">12</div>
                                <div *ngIf="objInvDetail.fp12!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp12}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp12==null" class="position">13</div>
                                <div *ngIf="objInvDetail.fp12!=null && objInvDetail.fp13==null" class="position_pass" (click)="pagarCuota(13)">13</div>
                                <div *ngIf="objInvDetail.fp13!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp13}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp13==null" class="position">14</div>
                                <div *ngIf="objInvDetail.fp13!=null && objInvDetail.fp14==null" class="position_pass" (click)="pagarCuota(14)">14</div>
                                <div *ngIf="objInvDetail.fp14!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp14}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp14==null" class="position">15</div>
                                <div *ngIf="objInvDetail.fp14!=null && objInvDetail.fp15==null" class="position_pass" (click)="pagarCuota(15)">15</div>
                                <div *ngIf="objInvDetail.fp15!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp15}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp15==null" class="position">16</div>
                                <div *ngIf="objInvDetail.fp15!=null && objInvDetail.fp16==null" class="position_pass" (click)="pagarCuota(16)">16</div>
                                <div *ngIf="objInvDetail.fp16!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp16}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp16==null" class="position">17</div>
                                <div *ngIf="objInvDetail.fp16!=null && objInvDetail.fp17==null" class="position_pass" (click)="pagarCuota(17)">17</div>
                                <div *ngIf="objInvDetail.fp17!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp17}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp17==null" class="position">18</div>
                                <div *ngIf="objInvDetail.fp17!=null && objInvDetail.fp18==null" class="position_pass" (click)="pagarCuota(18)">18</div>
                                <div *ngIf="objInvDetail.fp18!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp18}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp18==null" class="position">19</div>
                                <div *ngIf="objInvDetail.fp18!=null && objInvDetail.fp19==null" class="position_pass" (click)="pagarCuota(19)">19</div>
                                <div *ngIf="objInvDetail.fp19!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp19}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp19==null" class="position">20</div>
                                <div *ngIf="objInvDetail.fp19!=null && objInvDetail.fp20==null" class="position_pass" (click)="pagarCuota(20)">20</div>
                                <div *ngIf="objInvDetail.fp20!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp20}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp20==null" class="position">21</div>
                                <div *ngIf="objInvDetail.fp20!=null && objInvDetail.fp21==null" class="position_pass" (click)="pagarCuota(21)">21</div>
                                <div *ngIf="objInvDetail.fp21!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp21}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp21==null" class="position">22</div>
                                <div *ngIf="objInvDetail.fp21!=null && objInvDetail.fp22==null" class="position_pass" (click)="pagarCuota(22)">22</div>
                                <div *ngIf="objInvDetail.fp22!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp22}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp22==null" class="position">23</div>
                                <div *ngIf="objInvDetail.fp22!=null && objInvDetail.fp23==null" class="position_pass" (click)="pagarCuota(23)">23</div>
                                <div *ngIf="objInvDetail.fp23!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp23}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp23==null" class="position">24</div>
                                <div *ngIf="objInvDetail.fp23!=null && objInvDetail.fp24==null" class="position_pass" (click)="pagarCuota(24)">24</div>
                                <div *ngIf="objInvDetail.fp24!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp24}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>

        <ng-template [ngIf]="nroCuotas == 30">
            <div class="w-full">
                <table>
                    <tbody>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp1==null" class="position_pass" (click)="pagarCuota(1)">1</div>
                                <div *ngIf="objInvDetail.fp1!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp1}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp1==null" class="position">2</div>
                                <div *ngIf="objInvDetail.fp1!=null && objInvDetail.fp2==null" class="position_pass" (click)="pagarCuota(2)">2</div>
                                <div *ngIf="objInvDetail.fp2!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp2}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp2==null" class="position">3</div>
                                <div *ngIf="objInvDetail.fp2!=null && objInvDetail.fp3==null" class="position_pass" (click)="pagarCuota(3)">3</div>
                                <div *ngIf="objInvDetail.fp3!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp3}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp3==null" class="position">4</div>
                                <div *ngIf="objInvDetail.fp3!=null && objInvDetail.fp4==null" class="position_pass" (click)="pagarCuota(4)">4</div>
                                <div *ngIf="objInvDetail.fp4!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp4}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp4==null" class="position">5</div>
                                <div *ngIf="objInvDetail.fp4!=null && objInvDetail.fp5==null" class="position_pass" (click)="pagarCuota(5)">5</div>
                                <div *ngIf="objInvDetail.fp5!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp5}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp5==null" class="position">6</div>
                                <div *ngIf="objInvDetail.fp5!=null && objInvDetail.fp6==null" class="position_pass" (click)="pagarCuota(6)">6</div>
                                <div *ngIf="objInvDetail.fp6!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp6}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp6==null" class="position">7</div>
                                <div *ngIf="objInvDetail.fp6!=null && objInvDetail.fp7==null" class="position_pass" (click)="pagarCuota(7)">7</div>
                                <div *ngIf="objInvDetail.fp7!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp7}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp7==null" class="position">8</div>
                                <div *ngIf="objInvDetail.fp7!=null && objInvDetail.fp8==null" class="position_pass" (click)="pagarCuota(8)">8</div>
                                <div *ngIf="objInvDetail.fp8!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp8}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp8==null" class="position">9</div>
                                <div *ngIf="objInvDetail.fp8!=null && objInvDetail.fp9==null" class="position_pass" (click)="pagarCuota(9)">9</div>
                                <div *ngIf="objInvDetail.fp9!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp9}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp9==null" class="position">10</div>
                                <div *ngIf="objInvDetail.fp9!=null && objInvDetail.fp10==null" class="position_pass" (click)="pagarCuota(10)">10</div>
                                <div *ngIf="objInvDetail.fp10!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp10}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp10==null" class="position">11</div>
                                <div *ngIf="objInvDetail.fp10!=null && objInvDetail.fp11==null" class="position_pass" (click)="pagarCuota(11)">11</div>
                                <div *ngIf="objInvDetail.fp11!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp11}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp11==null" class="position">12</div>
                                <div *ngIf="objInvDetail.fp11!=null && objInvDetail.fp12==null" class="position_pass" (click)="pagarCuota(12)">12</div>
                                <div *ngIf="objInvDetail.fp12!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp12}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp12==null" class="position">13</div>
                                <div *ngIf="objInvDetail.fp12!=null && objInvDetail.fp13==null" class="position_pass" (click)="pagarCuota(13)">13</div>
                                <div *ngIf="objInvDetail.fp13!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp13}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp13==null" class="position">14</div>
                                <div *ngIf="objInvDetail.fp13!=null && objInvDetail.fp14==null" class="position_pass" (click)="pagarCuota(14)">14</div>
                                <div *ngIf="objInvDetail.fp14!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp14}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp14==null" class="position">15</div>
                                <div *ngIf="objInvDetail.fp14!=null && objInvDetail.fp15==null" class="position_pass" (click)="pagarCuota(15)">15</div>
                                <div *ngIf="objInvDetail.fp15!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp15}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp15==null" class="position">16</div>
                                <div *ngIf="objInvDetail.fp15!=null && objInvDetail.fp16==null" class="position_pass" (click)="pagarCuota(16)">16</div>
                                <div *ngIf="objInvDetail.fp16!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp16}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp16==null" class="position">17</div>
                                <div *ngIf="objInvDetail.fp16!=null && objInvDetail.fp17==null" class="position_pass" (click)="pagarCuota(17)">17</div>
                                <div *ngIf="objInvDetail.fp17!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp17}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp17==null" class="position">18</div>
                                <div *ngIf="objInvDetail.fp17!=null && objInvDetail.fp18==null" class="position_pass" (click)="pagarCuota(18)">18</div>
                                <div *ngIf="objInvDetail.fp18!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp18}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp18==null" class="position">19</div>
                                <div *ngIf="objInvDetail.fp18!=null && objInvDetail.fp19==null" class="position_pass" (click)="pagarCuota(19)">19</div>
                                <div *ngIf="objInvDetail.fp19!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp19}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp19==null" class="position">20</div>
                                <div *ngIf="objInvDetail.fp19!=null && objInvDetail.fp20==null" class="position_pass" (click)="pagarCuota(20)">20</div>
                                <div *ngIf="objInvDetail.fp20!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp20}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp20==null" class="position">21</div>
                                <div *ngIf="objInvDetail.fp20!=null && objInvDetail.fp21==null" class="position_pass" (click)="pagarCuota(21)">21</div>
                                <div *ngIf="objInvDetail.fp21!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp21}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp21==null" class="position">22</div>
                                <div *ngIf="objInvDetail.fp21!=null && objInvDetail.fp22==null" class="position_pass" (click)="pagarCuota(22)">22</div>
                                <div *ngIf="objInvDetail.fp22!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp22}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp22==null" class="position">23</div>
                                <div *ngIf="objInvDetail.fp22!=null && objInvDetail.fp23==null" class="position_pass" (click)="pagarCuota(23)">23</div>
                                <div *ngIf="objInvDetail.fp23!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp23}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp23==null" class="position">24</div>
                                <div *ngIf="objInvDetail.fp23!=null && objInvDetail.fp24==null" class="position_pass" (click)="pagarCuota(24)">24</div>
                                <div *ngIf="objInvDetail.fp24!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp24}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp24==null" class="position">25</div>
                                <div *ngIf="objInvDetail.fp24!=null && objInvDetail.fp25==null" class="position_pass" (click)="pagarCuota(25)">25</div>
                                <div *ngIf="objInvDetail.fp25!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp25}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp25==null" class="position">26</div>
                                <div *ngIf="objInvDetail.fp25!=null && objInvDetail.fp26==null" class="position_pass" (click)="pagarCuota(26)">26</div>
                                <div *ngIf="objInvDetail.fp26!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp26}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp26==null" class="position">27</div>
                                <div *ngIf="objInvDetail.fp26!=null && objInvDetail.fp27==null" class="position_pass" (click)="pagarCuota(27)">27</div>
                                <div *ngIf="objInvDetail.fp27!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp27}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp27==null" class="position">28</div>
                                <div *ngIf="objInvDetail.fp27!=null && objInvDetail.fp28==null" class="position_pass" (click)="pagarCuota(28)">28</div>
                                <div *ngIf="objInvDetail.fp28!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp28}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="flex flex-row w-full">
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp28==null" class="position">29</div>
                                <div *ngIf="objInvDetail.fp28!=null && objInvDetail.fp29==null" class="position_pass" (click)="pagarCuota(29)">29</div>
                                <div *ngIf="objInvDetail.fp29!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp29}}</span>
                                </div>
                            </td>
                            <td class="w-full">
                                <div *ngIf="objInvDetail.fp29==null" class="position">30</div>
                                <div *ngIf="objInvDetail.fp29!=null && objInvDetail.fp30==null" class="position_pass" (click)="pagarCuota(30)">30</div>
                                <div *ngIf="objInvDetail.fp30!=null" class="flex flex-column align-items-center cont-pago">
                                    <img src="assets/images/logos/sello_ssimple.png" width="50" height="50">
                                    <span class="fecha">{{objInvDetail.fp30}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>

        <div class="pendiente-txt mb-3"><b>{{nroCuotasPendientes}}</b> Cuotas pendientes.</div>

        <div class="detail-inv">
            <div class="custom-banner-present mb-4">
                <div class="mb-3">
                    <span class="txt-detalles icon-span">DETALLES DE LA INVERSION</span>
                </div>
    
                <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-3">
                    <div class="flex flex-column w-full">
                        <span class="mb-2 params-txt">Monto invertido</span>
                        <span class="valor-txt-detail">
                            {{objInvDetail.monto | number:'1.2-2' }}
                        </span>
                    </div>
    
                    <div class="flex flex-column w-full">
                        <label class="mb-2 params-txt">Número de cuotas</label>
                        <span class="valor-txt-detail">
                        {{objInvDetail.nroCuotas}}
                        </span>
                    </div>
                </div>
    
                <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-3">
                    <div class="flex flex-column w-full">
                        <label class="mb-2 params-txt">Interés</label>
                        <span class="valor-txt-detail">
                            {{objInvDetail.interes | number:'1.0-2' }} %
                        </span>
                    </div>
    
                    <div class="flex flex-column w-full">
                        <label class="mb-2 params-txt">valor de cuota</label>
                        <span class="valor-txt-detail">
                        {{objInvDetail.valorCuota | number:'1.2-2'}}
                        </span>
                    </div>
                </div>
    
                <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-3">
                    <div class="flex flex-column w-full">
                        <label class="mb-2 params-txt">Fecha de registro</label>
                        <span class="valor-txt-detail">
                            {{objInvDetail.fechaRegistro}}
                        </span>
                    </div>
                </div>
    
                <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-4">
                    <div class="flex flex-column w-full">
                        <label class="mb-2 params-txt">Fecha inicio</label>
                        <span class="valor-txt-detail">
                            {{objInvDetail.fechaInicio}}
                        </span>
                    </div>
    
                    <div class="flex flex-column w-full">
                        <label class="mb-2 params-txt">Fecha fin</label>
                        <span class="valor-txt-detail">
                        {{objInvDetail.fechaFin}}
                        </span>
                    </div>
                </div>
                
            </div>
            
            <div class="custom-banner-present mb-4">
                <div class="mb-3">
                    <span class="txt-detalles icon-span">DETALLES DEL CLIENTE</span>
                </div>
    
                <div class="flex flex-row gap-2 align-items-top justify-content-center mb-3">
                    <div class="flex flex-column w-8">
                        <label class="mb-2 params-txt">Nombres</label>
                        <span class="valor-txt-detail">
                            {{objInvDetail.persona.nombres+' '+objInvDetail.persona.apellidoPaterno+' '+objInvDetail.persona.apellidoMaterno}}
                        </span>
                    </div>
                    <div class="flex flex-column w-4">
                        <label class="mb-2 params-txt">Celular</label>
                        <span class="valor-txt-detail">
                            {{objInvDetail.persona.celular}}
                        </span>
                    </div>
                </div>
    
                <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-4">
                    <div class="flex flex-column w-full">
                        <label class="mb-2 params-txt">Dirección</label>
                        <span class="valor-txt-detail">
                        {{objInvDetail.persona.direccion}}
                        </span>
                    </div>
                </div>
    
                <div class="custom-banner-credentials mb-4">
                    <div class="flex flex-row w-full justify-content-center mb-2">
                        <span class="txt-span-bold">CORREO:</span>
                        <span class="w-full txt-span-text">{{objInvDetail.credenciales.correo}}</span>
                    </div><!--  -->
                    <div class="flex flex-row w-full justify-content-around mb-3">
                        <span class="txt-span-bold">PASS:</span>
                        <div class="flex flex-row justify-content-between w-full txt-span-text">
                            <div class="w-10">
                                <span *ngIf="mostrar" >{{ objInvDetail.credenciales.contrasena }}</span> <!-- .txt-span -->
                                <span *ngIf="!mostrar" >**********</span>
                            </div>
                            <div class="w-2">
                                <i *ngIf="mostrar" class="pi pi-eye" (click)="mostrarContrasena()"></i>
                                <i *ngIf="!mostrar" class="pi pi-eye-slash" (click)="mostrarContrasena()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row w-full text-center">
                        <p-button *ngIf="!copy" class="w-full" label="Copiar" icon="pi pi-copy" size="small" (onClick)="copyCredentials()"/>
                        <p-button *ngIf="copy" class="w-full" label="Copiar" icon="pi pi-check" size="small" (onClick)="copyCredentials()"/>
                    </div>
                    
                    <div>
                        <p-toast [breakpoints]="{ '500px': { width: '80%', right: '1', left: '3' } }" />
                    </div>
                    
                </div>
                
                <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-4">
                    <div class="flex flex-column w-full">
                        <label class="mb-2 params-txt">Comentario</label>
                        <span class="valor-txt-detail">
                        {{objInvDetail.comentario}}
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <p-confirmDialog #cd>
            <ng-template pTemplate="headless" let-message>
                <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                    <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-5rem w-5rem">
                        <img src="assets/images/logos/sello_ssimple.png" width="100" height="100">
                    </div>
                    <span class="font-bold text-2xl block mb-2 mt-4">
                        {{ message.header }}
                    </span>
                    <p class="mb-2">{{ message.message }}</p>
                    <div class="flex flex-column">
                        <p-calendar 
                        [(ngModel)]="date" 
                        [showIcon]="true" 
                        [showOnFocus]="true" 
                        [touchUI]="true"
                        [dateFormat]="'dd/mm/yy'"
                        [showTime]="true"
                        inputId="fecha" />
                    </div>
                    <div class="flex align-items-center gap-2 mt-4">
                        <button 
                            pButton 
                            label="Cancelar" 
                            (click)="cd.reject()" 
                            class="p-button-outlined w-8rem ">
                        </button>
                        <button 
                            pButton 
                            label="Guardar" 
                            (click)="cd.accept()" 
                            class="w-8rem">
                        </button>
                        
                    </div>
                </div>
            </ng-template>
        </p-confirmDialog>
        <button pButton pRipple label="Ir al inicio" routerLink="/inicio" class="w-full"></button>
    </div>
    <app-loading></app-loading>
</div>