
#span-celular{
    color: var(--gray-400);
    font-size: 13px;
    margin-left: .2rem;
}

i{
    color: var(--blue-400);
    font-size: .8rem;
    margin-top: 2px;
}
small {
    color: var(--gray-500);
}
