
.icon-span{
  margin-bottom: 8px;
}
/* Estilo para el nombre y presentacion del usuario*/
.label-nombre{
  background: linear-gradient(to right, var(--primary-500), var(--blue-400)); /* Degradado de colores */
  -webkit-background-clip: text; /* Aplicar el fondo degradado al texto para navegadores WebKit */
  background-clip: text; /* Aplicar el fondo degradado al texto */
  -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente para WebKit */
  font-weight: 700;
}

/* Estilo para el menú inferior */
.footer-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.04);
    display: flex; 
    justify-content: center;
}

/* Estilo para el Banner */
.custom-banner p {
    font-size: 1.2rem;
    margin-top: 10px;
}


.banner-container {
    display: flex;
    justify-content: space-between; /* Espaciado igual entre banners */
    align-items: center;            /* Alinea verticalmente al centro */
  }
  
  .custom-banner-1, .custom-banner-2 {
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    margin: 5px;                   /* Espacio alrededor de cada banner */
    padding: 30px;                  /* Espacio dentro de cada banner */
    /* background: linear-gradient(to right, var(--primary-500), white); */    /* Color de fondo del banner */
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 30px;
    align-items: center;
  }
  .custom-banner-1:hover, .custom-banner-2:hover{
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
  }
  .custom-banner-3 {
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    margin: 5px;                   /* Espacio alrededor de cada banner */
    padding: 15px;                  /* Espacio dentro de cada banner */
    /* background: linear-gradient(to right, var(--primary-500), white); */    /* Color de fondo del banner */
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); 
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    pointer-events: auto;
  }


  .custom-banner-3 i{
    font-size: 18px;
    margin-right: .5rem;
  }

  .div-monto{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .div-monto .txt-span{
    font-size: 14px;
  }
  .txt-span{
    font-size: 15px;
  }
  
  .custom-banner span{
    margin: 10px;
    width: 100%;
  }
  
  /* Estilos para la tabla */
  .class-name-date{
    display: flex;
    justify-content: space-between;
  }

  table .span-monto{
    margin-right: 5px;
    font-size: 15px;
  }
  table .span-nombre{
    font-weight: 500;
    color: black;
    font-size: 15px;
    margin-bottom: 4px;
  }
  table .span-fecha{
    color: var(--gray-500);
    font-size: 12px;
  }
  table .tr-registros{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 8px; */
    border-bottom: 1px solid var(--gray-300);
  }
  table .tr-registros:hover{
    background-color: var(--gray-100);
  }
  .table-container{
    overflow-y: auto;
    max-height: 500px; 
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
    scrollbar-width: none;  /* Para Firefox */
  }

  .table-container::-webkit-scrollbar {
    display: none;  /* Para Chrome, Safari y Opera */
  }

  table .tr-cabecera{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid var(--gray-300);
    
  }
  .span-1 span{
    color: var(--primary-500);
    font-size: 16px;
  }
  .span-2 span{
    color: var(--blue-400);
    font-size: 16px;
  }
  .span-1 i{
    font-size: 16px;
    color: var(--primary-500);
  }

  table .tr-cabecera .span-1{
    border-right: 1px solid var(--gray-300);
    padding-right: 10px;
  }
  .row-skeleton{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 8px; */
    border-bottom: 1px solid var(--gray-300);
  }