
<div>
    <div class="surface-card p-2 shadow-0 border-round w-full lg:w-12">
        <div class="text-center mb-5">
            <div id="div_line_bootom" class="text-2xl font-medium mb-3" style="text-align: left;"><label class="label-nombre">Hola, {{nombreUsuario}}</label></div>
            <span class="text-600 font-medium line-height-3">¿Qué hacemos hoy?</span>
        </div>

        <div class="flex flex-row gap-2 align-items-center justify-content-center">
            <div class="flex flex-column w-full custom-banner-1" routerLink="/inversion/lista">
                <i class="pi pi-chart-bar icon-span"></i>
                <span class="txt-span">Inversiones</span>
            </div>

            <div class="flex flex-column w-full custom-banner-2" routerLink="/registrar/datosinversion">
                <i class="pi pi-money-bill icon-span"></i>
                <span class="txt-span">Invertir</span>
            </div>
        </div>

        <div class="flex flex-row gap-2 justify-content div-monto" (click)="mostrarMonto()">
            <div class="flex-row w-full custom-banner-3">
                <div class="flex w-1 justify-content-center">
                    <i *ngIf="mostrar" class="pi pi-eye"></i>
                    <i *ngIf="!mostrar" class="pi pi-eye-slash"></i>
                </div>
                <div class="flex w-6 justify-content-center">
                    <span class="txt-span">Saldo por cobrar</span>
                </div>
                <div class="flex w-5 justify-content-center">
                    <span *ngIf="mostrar" class="txt-span"><div *ngIf="montoCargado">{{ monto | number:'1.2-2' }}</div><i *ngIf="!montoCargado" class="pi pi-spinner pi-spin" style="color: var(--gray-500); font-size: .9rem;"></i></span>
                    <span *ngIf="!mostrar" class="txt-span">********</span>
                </div>

                
            </div>
        </div>

        <!-- Tabla de los ultimos registros de inversiones -->
         <div class="table-container">
                 <!-- [ngIf]="!skeletonShow" -->
                <div class="flex flex-column gap-2 div-monto custom-banner-4">
                    <div class="flex flex-row justify-content-between  w-full">
                        <div class="flex w-8 gap-2 justify-content-start">
                            <i class="pi pi-list"></i> 
                            <span class="txt-span">Últimos registros</span>
                        </div>
                        <div class="flex w-2 justify-content-center">
                            <i (click)="mostrarRegistros()" [class.pi-angle-down]="!mostrarUltRegistros" [class.pi-angle-up]="mostrarUltRegistros" class="pi"></i>
                        </div>
                    </div>
                    <ng-template [ngIf]="mostrarUltRegistros">
                        <ng-template [ngIf]="!skeletonShow">
                            <div class="w-full">
                                <table class="w-full">
                                    <tbody>
                                      <div *ngFor="let inversion of ultimas10Inversiones" class="tr-registros">
                                        <div class="flex flex-row" [routerLink]="['/registrar/inversiondetalle']" [queryParams]="{ idInversion: inversion.idInversion }">
                                            <div class="flex flex-column w-10">
                                                <span class="span-nombre">{{ inversion.nombres+' '+inversion.apellidoPaterno+' '+inversion.apellidoMaterno }}</span>
                                                <span class="span-fecha">{{ inversion.fechaCreacion }}</span>
                                            </div>
                                            <div class="flex flex-column justify-content-center w-5 ">
                                                <span class="flex justify-content-end span-monto" >{{ inversion.monto | number:'1.2-2' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="ultimasInversiones.length > 10 || ultimasInversiones.length === 0" class="tr-registros-s">
                                        <div class="flex justify-content-center flex-row span-2">
                                            <span *ngIf="ultimasInversiones.length > 10" (click)="verRegistros()">Ver todos</span>
                                            <span *ngIf="ultimasInversiones.length === 0">Aún no hay registros.</span>
                                        </div>
                                    </div>
                                    </tbody>
                                  </table>
                            </div>
                        </ng-template>
                        
                        <ng-template [ngIf]="skeletonShow">
                            <div class="flex flex-row w-full" style="min-width: 278px;">
                                <div class="w-full p-2">
                                    <div *ngFor="let item of [].constructor(forSkeleton); let i = index" class="flex w-full mb-1 gap-2 row-skeleton">
                                        <div class="flex flex-column w-full gap-1">
                                            <p-skeleton class="w-10" height="1rem" />
                                            <p-skeleton class="w-8" height="1rem" />
                                        </div>
                                        <p-skeleton class="w-4" height="2rem" />
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                    

                </div>
         </div>
    </div>
    <app-loading></app-loading>
</div>