<div>
    <div class="surface-card p-2 shadow-0 border-round w-full lg:w-12">
        <div class="text-center mb-3">
            <div id="div_line_bootom" class="text-2xl font-medium mb-3" style="text-align: left;"><label class="label-nombre">Hola, {{nombreUsuario}}</label></div>
            <span class="text-600 font-medium line-height-3">¡Mantén tus préstamos al día!</span>
        </div>

        <div class="flex flex-row w-full justify-content-end mb-3">
            <i class="pi pi-sync" id="icono-actualizar" tabindex="0" (click)="getInversionesClient()"></i>
        </div>

        <ng-template [ngIf]="skeletonShow">
            <div class="flex flex-row w-full" style="min-width: 300px;">
                <div class="w-full">
                    <div *ngFor="let item of [].constructor(forSkeleton); let i = index" class="flex flex-column mb-2">
                        <p-skeleton class="w-full" height="4.5rem" />
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- INVERSION PENDIENTE -->
        <ng-template [ngIf]="!skeletonShow">
            <div class="flex flex-row w-full mb-3"
            *ngFor="let inversion of data"
            [ngClass]="inversion.estadoDeuda === 'P' ? 'custom-banner-active' : 'custom-banner-passive'">
                <div class="flex flex-column w-full">
                    <div class="flex flex-row w-11">
                        <div class="flex flex-column w-full gap-1">
                            <div class="flex flex-row w-full gap-5 mb-1">
                                <span [ngClass]="inversion.estadoDeuda === 'P' ? 'span-nro-inv' : 'span-nro-inv-culm'">Inversión #{{inversion.nroInversion}}</span>
                                <span class="span-monto">S/ {{inversion.monto | number:'1.2-2'}}</span>
                            </div>
                            <div class="linea-bottom mb-1"></div>
                            <div *ngIf="inversion.estadoDeuda === 'P'" class="flex flex-row w-full gap-2 mb-1"> <!--  -->
                                <div class="flex flex-column w-6">
                                    <div class="flex flex-column gap-1">
                                        <span class="span-cuotas"><b>Pendiente</b></span>
                                        <span class="span-cuotas">{{inversion.nroCuotas - inversion.ctasPagadas}}</span>
                                    </div>
                                </div>
                                <div class="flex flex-column w-6 gap-1">
                                    <span class="span-cuotas"><b>De</b></span>
                                    <span class="span-cuotas">S/ {{inversion.valorCuota | number:'1.2-2'}}</span>
                                </div>
                            </div>
                            <div *ngIf="inversion.estadoDeuda === 'C'" class="flex flex-row w-full gap-2 mb-1"> <!--  -->
                                <div class="flex flex-row gap-2">
                                    <span class="span-cuotas"><b>Fecha culminada</b></span>
                                    <span class="span-cuotas">{{inversion.fechaActualizacion}}</span>
                                </div>
                            </div>
                            <div *ngIf="inversion.fechaInicio!=='' && inversion.fechaFin!==''" class="linea-bottom mb-2"></div>
                        </div>
                    </div>

                    <div *ngIf="inversion.fechaInicio!=='' && inversion.fechaFin!==''" class="flex flex-row w-full gap-2">
                            <div class="flex flex-column w-6 gap-1">
                                <span class="span-cuotas"><b>Fecha inicio</b></span>
                                <span class="span-cuotas">{{formatDate(inversion.fechaInicio)}}</span>
                            </div>
                            <div class="flex flex-column w-6 gap-1">
                                <span class="span-cuotas"><b>Fecha fin</b></span>
                                <span class="span-cuotas">{{formatDate(inversion.fechaFin)}}</span>
                            </div>
                    </div>
                </div>
                <div class="flex flex-column w-1 justify-content-center align-items-center">
                    <i class="pi "
                    [ngClass]="inversion.estadoDeuda === 'P' ? 'pi-circle-off' : 'pi-circle-on'"
                    [routerLink]="['/inversion/cartilla']" [queryParams]="{ idInversion: inversion.idInversion}"
                    ></i>
                </div>
            </div>
        </ng-template>

        <!-- INVERSION TERMINADA -->
<!--         <div class="flex flex-row w-full custom-banner-passive mb-3">
            <div class="flex flex-column w-full">
                <div class="flex flex-row w-11">
                    <div class="flex flex-column w-full gap-1">
                        <div class="flex flex-row w-full gap-5 mb-1">
                            <span class="span-nro-inv-culm">Inversión #2</span>
                            <span class="span-monto">S/ 2,100.00</span>
                        </div>
                        <div class="linea-bottom mb-1"></div>
                        <div class="flex flex-row w-full gap-2 mb-1">
                                <div class="flex flex-row gap-2">
                                    <span class="span-cuotas"><b>Fecha culminada</b></span>
                                    <span class="span-cuotas">07 de oct. 2024</span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-column w-1 justify-content-center align-items-center">
                <i class="pi pi-circle-on"></i>
            </div>
        </div> -->

    </div>
</div>
