

/* Estilo para el nombre y presentacion del usuario*/
.label-nombre{
    background: linear-gradient(to right, var(--primary-500), var(--blue-400)); /* Degradado de colores */
    -webkit-background-clip: text; /* Aplicar el fondo degradado al texto para navegadores WebKit */
    background-clip: text; /* Aplicar el fondo degradado al texto */
    -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente para WebKit */
    font-weight: 700;
  }

  .custom-banner-active {
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    margin: 0px;                   /* Espacio alrededor de cada banner */
    padding: 10px;                  /* Espacio dentro de cada banner */
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 300px;
    align-items: center;
  }

  .custom-banner-passive {
    flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
    margin: 0px;                   /* Espacio alrededor de cada banner */
    padding: 10px;                  /* Espacio dentro de cada banner */
    background: var(--primary-500);
    background: #fff;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); 
    color: var(--gray-500);                 /* Color del texto del banner */
    text-align: center;             /* Centra el texto dentro del banner */
    border-radius: 8px;             /* Bordes redondeados */
    min-width: 300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  /* Estilo de los elementos */
  .span-nro-inv{
    font-size: .8rem;
    text-align: left;
    color: var(--primary-500);
  }
  .span-nro-inv-culm{
    font-size: .8rem;
    text-align: left;
    color: var(--gray-500);
  }
  .span-monto{
    font-size: 1rem;
    text-align: left;
    font-weight: 800;
  }
  .span-fecha-creacion{
    font-size: .8rem;
    text-align: left;
  }

  .span-cuotas{
    font-size: .8rem;
    text-align: left;
  }
  .linea-bottom{
    border-bottom: 1px solid var(--gray-400);
    opacity: .4;
  }

  /* Estilo de los iconos */
  .pi-circle-off{
    color: var(--primary-500);
    font-size: 1.3rem;
    font-weight: 600;
  }
  .pi-circle-on{
    color: var(--gray-400);
    font-size: 1.3rem;
    font-weight: 600;
  }
/* Define la animación */
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Clase que activa la animación */
.girar {
    animation: girar 1s ease forwards; /* Gira en 1 segundo */
}

/* Icono actualizar cliente */
.pi-sync {
    color: var(--blue-400);
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 1rem;
    display: inline-block; /* Necesario para que la animación funcione correctamente */
}


