#div_line_bootom{
    /* min-width: 315px; */
    /* border-bottom: solid 1px var(--gray-300); */
}
.codUnico-help{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
small {
    color: var(--gray-500);
}
#terminos_condiciones{
    margin-left: 10px;
}
i{
    color: var(--blue-400);
    font-size: .8rem;
}
#iconPassword1, #iconPassword2{
    color: var(--gray-500);
    font-size: 1rem;
}