#div_line_bootom{
    min-width: 270px;
    /* border-bottom: solid 1px var(--gray-300); */
}
#codUnico-help{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
i{
    color: var(--blue-400)
}
small {
    color: var(--gray-500);
}
#labelCodUnico{
    background: linear-gradient(to right, var(--primary-500), var(--blue-400)); /* Degradado de colores */
    -webkit-background-clip: text; /* Aplicar el fondo degradado al texto para navegadores WebKit */
    background-clip: text; /* Aplicar el fondo degradado al texto */
    -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente para WebKit */
}