
<div>
    <!-- <div class="surface-card p-4 shadow-2 border-round w-full lg:w-12"> -->
    <div class="surface-card p-0 shadow-0 border-round w-full lg:w-12">
        
        <div class="text-center mb-5">
            <div id="div_line_bootom" class="text-700 text-2xl font-medium mb-3 label-title">Confirmar inversión</div>
        </div>


        <div>
            <label for="nombres" class="block text-900 font-medium mb-2">Nombres</label>
            <div  id="nombres" pInputText class="w-full mb-3 dataConfirm">
                {{objNuevaInv.nombres +' '+ objNuevaInv.apellidoPaterno+' '+ objNuevaInv.apellidoMaterno}}
            </div>
             
            <div class="flex flex-row gap-2 align-items-top justify-content-center mb-3">
                <div class="flex flex-column w-full">
                    <label for="celular" class="block text-900 font-medium mb-2">Celular</label>
                    <div id="celular" pInputText class="w-full mb-3 dataConfirm">
                        {{objNuevaInv.celular}}
                    </div>
                </div>

                <div class="flex flex-column w-full">
                    <label for="direccion" class="block text-900 font-medium mb-2">Dirección</label>
                    <div id="direccion" pInputText class="w-full mb-3 dataConfirm">
                    {{objNuevaInv.direccion}}
                    </div>
                </div>
            </div>

            <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-3">
                <div class="flex flex-column w-full">
                    <label for="montoi" class="block text-900 font-medium mb-2">Monto invertido</label>
                    <div id="montoi" pInputText class="w-full mb-3 dataConfirm">
                        {{objNuevaInv.monto | number:'1.2-2' }}
                    </div>
                </div>

                <div class="flex flex-column w-full">
                    <label for="cuotas" class="block text-900 font-medium mb-2">Número de cuotas</label>
                    <div id="cuotas" pInputText class="w-full mb-3 dataConfirm">
                    {{objNuevaInv.nroCuotas}}
                    </div>
                </div>
            </div>

            <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-3">
                <div class="flex flex-column w-full">
                    <label for="interes" class="block text-900 font-medium mb-2">Interes</label>
                    <div id="interes" pInputText class="w-full mb-3 dataConfirm">
                        {{objNuevaInv.interes | number:'1.0-2' }} %
                    </div>
                </div>

                <div class="flex flex-column w-full">
                    <label for="valorCuota" class="block text-900 font-medium mb-2">valor de cuota</label>
                    <div id="valorCuota" pInputText class="w-full mb-3 dataConfirm">
                    {{objNuevaInv.valorCuota | number:'1.2-2'}}
                    </div>
                </div>
            </div>

            <div class="flex flex-row gap-2 align-items-top justify-content-cente mb-3">
                <div class="flex flex-column w-full">
                    <label for="fechai" class="block text-900 font-medium mb-2">Fecha inicio</label>
                    <div id="fechai" pInputText class="w-full mb-3 dataConfirm">
                        {{objNuevaInv.fechaInicio}}
                    </div>
                </div>

                <div class="flex flex-column w-full">
                    <label for="fechaf" class="block text-900 font-medium mb-2">Fecha fin</label>
                    <div id="fechaf" pInputText class="w-full mb-3 dataConfirm">
                    {{objNuevaInv.fechaFin}}
                    </div>
                </div>
            </div>

            <label for="comentario" class="block text-900 font-medium mb-2">Comentario</label>
            <div  id="comentario" pInputText class="w-full mb-3 dataConfirm mb-7 txt-break">
                {{objNuevaInv.comentario}}
            </div>
        </div>

        <button pButton
        pRipple label="Registrar" (click)="registerInvTrue()" class="btn-float"></button>

    </div>
    <app-loading></app-loading>
    <div>
        <p-toast [breakpoints]="{ '500px': { width: '80%', right: '1', left: '3' } }" />
    </div>
</div>