<!-- CODIGO UNICO -->
<div class="table-container">
    <!-- [ngIf]="!skeletonShow" -->
    <div class="flex flex-column gap-2  custom-banner-4">
        <div class="flex flex-row justify-content-between w-full">
            <div class="flex flex-row w-full justify-content-center align-items-center gap-2 label-title shiny-text">
                <i class="pi pi-qrcode"></i> Código Único
            </div>
        </div>
        <ng-template [ngIf]="mostrarCodUnicos">
            <ng-template [ngIf]="!skeletonShow">
                <div class="w-full">
                    <table class="w-full">
                        <tbody>
                            <div class="tr-registros" *ngFor="let cod of codigosUnicos"> <!--  -->
                                <div class="flex flex-column gap-1" appLongPress (longPress)="detailCodigoUnico()">
                                    <div class="flex flex-row justify-content-between align-items-center w-full">
                                        <span class="span-nombre">{{ cod.nroDocumento }}</span>
                                        <span class="flex justify-content-end label-title">{{ cod.codigo }}</span>
                                    </div>
                                    <div class="flex flex-row justify-content-center align-items-center w-full">
                                        <!-- <span class="span-fecha">{{ 'jcerronvicente@gmail.com' }}</span> -->
                                        <span class="span-fecha w-9">{{ cod.fechaCreacion }}</span>
                                        <div *ngIf="cod.estado==='A'" class="tag-transparent-primary w-3">Disponible
                                        </div>
                                        <div *ngIf="cod.estado==='I'" class="tag-transparent-red w-3">Usado</div>
                                        <!-- Disponible | Usado -->
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="codigosUnicos.length === 0" class="tr-registros-s"> <!--  -->
                                <div class="flex justify-content-center flex-row span-2">
                                    <span *ngIf="codigosUnicos.length === 0">Aún no hay registros.</span> <!--  -->
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </ng-template>

            <ng-template [ngIf]="skeletonShow">
                <div class="flex flex-row w-full" style="min-width: 278px;">
                    <div class="w-full p-2">
                        <div *ngFor="let item of [].constructor(forSkeleton); let i = index"
                            class="flex flex-row justify-content-between mb-1 gap-2 row-skeleton w-full">
                            <div class="flex flex-column w-7 gap-1">
                                <p-skeleton class="w-12" height="1rem" />
                                <p-skeleton class="w-12" height="1rem" />
                            </div>
                            <div class="flex flex-column align-items-end w-5 gap-1">
                                <p-skeleton class="w-10" height="1rem" />
                                <p-skeleton class="w-10" height="1rem" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>

        <div style="height: 50px;"></div>
        <button pButton pRipple label="Ir al inicio" routerLink="/inicio" class="btn-float"></button>
    </div>
</div>