.sin-estilo{
    background-color: transparent;
    color: red;
}
.tag-txt{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* evita que las celdas crezcan con el texto */
}

tr {
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    /* border-top: 1px solid var(--gray-500);
    border-bottom: 1px solid var(--gray-500); */
    color: var(--primary-500);
    font-weight: 600;
}
tr{
    transition: .5s;
}
tr:hover{
    background: var(--primary-100);
}

/* Estilo tabla */
.nombre-txt{
    font-weight: 700;
    color: var(--gray-500);
    font-size: 15px;
    text-align: left;
    display: block;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que sobrepasa el ancho */
    text-overflow: ellipsis; /* Agrega los "..." cuando el texto es muy largo */
    margin-bottom: 5px;
}

.fecha-txt{
    color: var(--gray-500);
    font-size: 14px;
    text-align: left;
}
.nroInversion-txt{
    font-size: 12px;
    color: var(--blue-500);
    font-weight: 600;
    margin-top: 5px;
}
.cuota-sem{
    background: linear-gradient(to right, var(--primary-500), var(--blue-400)); /* Degradado de colores */
    -webkit-background-clip: text; /* Aplicar el fondo degradado al texto para navegadores WebKit */
    background-clip: text; /* Aplicar el fondo degradado al texto */
    -webkit-text-fill-color: transparent; /* Hacer el color del texto transparente para WebKit */
    font-size: 12px;
    font-weight: 600;
}
.pi-window-maximize{
    color: var(--primary-500);
    font-size: 1.1rem;
    cursor: pointer;
}
.pi-window-maximize-gray{
    color: var(--gray-500);
}

  /* Estilo del filtro */
  .tag{
    background-color: var(--gray-200);
    color: var(--gray-500);
    font-weight: 600;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}
.success{
    background-color: #0ea5e9;
    color: white;
    border: #0ea5e9;
}
/* PAGINADOR */
.pagination{
    font-size: 12px;
    color: var(--gray-500);
    margin-top: 5px;
}
.card{
    min-height: 500px;
}
