<div class="surface-card p-0 shadow-0 border-round w-full lg:w-12">
        
    <div class="text-center mb-5">
        <div class=" text-2xl mb-3 label-title">Datos de la inversión</div>
    </div>

    <div class="flex flex-row w-full gap-2 align-items-center justify-content-center mb-3">
        <div class="flex flex-column w-6">
            <label for="modalidad" class="block text-gray-500 font-medium mb-2">Modalidad</label>
            <p-select 
            id="modalidad"
            [options]="modalidad" 
            [(ngModel)]="selectedModalidad" 
            optionLabel="name" 
            placeholder="Seleccionar modalidad" 
            class="w-full md:w-56" />
        </div>

        <div class="flex flex-column w-6">
            <label for="placa" class="block text-gray-500 font-medium mb-2">Placa del vehículo</label>
            <input [(ngModel)]="inversion.placa" [maxlength]="10" id="placa" type="text" placeholder="ABC-123" appNroPlaca pInputText class="w-full">
        </div>
    </div>

    <div class="flex flex-row w-full gap-2 justify-content-center mb-3">
        <div class="flex flex-column w-6">
            <label for="montoDiario" class="block text-gray-500 font-medium mb-2">Monto diario ({{currency}})</label>
            <p-inputNumber
                [(ngModel)]="inversion.montoDiario"
                 id="monto" 
                [maxFractionDigits]="2"  
                 mode="decimal" autocomplete="off" 
                 placeholder="Ingrese monto" class="w-full mb-1"
                 [min]="1" [max]="999"
                 />
                 <span *ngIf="inversion.montoDiario !== null && inversion.montoDiario < 1" class="input-fail">El monto no puede ser menor a {{currency}} {{1 | formatNumber}}.</span>
                 <span *ngIf="inversion.montoDiario !== null && inversion.montoDiario > 999" class="input-fail">El monto no puede ser mayor a {{currency}} {{999 | formatNumber}}.</span>
        </div>

        <div class="flex flex-column w-6">
            <label for="duracionPago" class="block text-gray-500 font-medium mb-2">Duración de pago</label>
            <p-inputNumber
                [(ngModel)]="inversion.duracionPago"
                id="duracionPago" 
                placeholder="Nro. de meses" class="w-full mb-1"
                [min]="1" [max]="99"
                mode="decimal" autocomplete="off" 
                [minFractionDigits]="0" [maxFractionDigits]="0"
                suffix=" meses"
                (ngModelChange)="updateDate2()"
                />
                
            <span *ngIf="inversion.duracionPago !== null && inversion.duracionPago < 1" class="input-fail">El nro. de meses no puede ser menor a {{1}}.</span>
            <span *ngIf="inversion.duracionPago !== null && inversion.duracionPago > 99" class="input-fail">El nro. de meses no puede ser mayor a {{99}}.</span>
        </div>
    </div>

    <!-- Fecha inicio y fin -->
    <div class="flex flex-row gap-2 justify-content-center">
        <div class="flex flex-row justify-content-between align-items-center gap-2 mb-3">
            <div class="flex flex-column w-6 mb-2">
                <label for="fecha1" class="block text-gray-500 font-medium mb-2">Fecha inicio</label>
                <p-datepicker 
                [(ngModel)]="date1" 
                [showIcon]="true" 
                [showOnFocus]="true" 
                [touchUI]="false"
                [dateFormat]="'dd/mm/yy'"
                [showTime]="false"
                inputId="fecha1" 
                (ngModelChange)="updateDate2()"
                />
            </div>
            <div class="flex flex-column w-6 mb-2">
                <label for="fecha2" class="block text-gray-500 font-medium mb-2">Fecha fin</label>
                <p-datepicker 
                [(ngModel)]="date2" 
                [showIcon]="true" 
                [showOnFocus]="true" 
                [touchUI]="false"
                [dateFormat]="'dd/mm/yy'"
                [showTime]="false"
                inputId="fecha2" 
                [disabled]="true"
                />
            </div>  
        </div>
    </div>

    <div class="card mb-2" style="padding: 5px;">
        <p-floatLabel class="w-full">
            <textarea 
                class="w-full"
                id="float-comentario" 
                rows="3"
                cols="30" 
                [(ngModel)]="descripcion"
                [maxLength]="80"
                pTextarea>
            </textarea>
            <label for="float-comentario">Descripción breve del vehículo</label>
        </p-floatLabel>
    </div>

    <div class="flex flex-column w-full gap-2 align-items-center justify-content-center mb-3">
        <div class="flex flex-row justify-content-center w-6">
            <label class="block  font-bold mb-2 label-title">Colores del vehículo</label>
        </div>

        <div class="flex flex-row w-full gap-2 justify-content-center mb-3">
            <div class="flex w-6 flex-column align-items-center">
                <div class="flex flex-row text-center"><label for="color1" class="block text-gray-500 font-medium mb-2">Color principal</label></div>
                <div class="flex flex-row text-center paleta-color1" style="position: relative;"><p-colorPicker [(ngModel)]="color1" inputId="color1" class="mb-1"></p-colorPicker></div>
                <div class="flex flex-row text-center"><span class="block text-gray-500 font-medium mb-2">{{ color1 }}</span></div>
            </div>
            <div class="flex w-6 flex-column align-items-center">
                <div class="flex flex-row text-center"><label for="color1" class="block text-gray-500 font-medium mb-2">Color secundario</label></div>
                <div class="flex flex-row text-center paleta-color2" style="position: relative;"><p-colorPicker [(ngModel)]="color2" inputId="color2" class="mb-1"></p-colorPicker></div>
                <div class="flex flex-row text-center"><span class="block text-gray-500 font-medium mb-2">{{ color2 }}</span></div>
            </div>     
        </div>
    </div>

    <button pButton [ngClass]="{
        'btn-disabled': !isFormValid()
      }"
    pRipple label="Siguiente" (click)="registerInvFalse()" [disabled]="!isFormValid()" class="w-full"></button>
    
    <app-loading></app-loading>
    <div>
        <p-toast [breakpoints]="{ '500px': { width: '80%', right: '1', left: '3' } }" />
    </div>
    
</div>

