
  #monto{
    text-align: center;
    /* letter-spacing: 0.5rem; */
  }
  
 .classInputMonto ::ng-deep .p-inputnumber{
  width: 100%;
 }
 .classInputMonto ::ng-deep .p-inputnumber .p-inputtext {
  text-align: center;
  letter-spacing: 0rem;
  color: var(--primary-500);
}
.classInputMonto ::ng-deep .p-inputnumber .p-inputtext:not(:placeholder-shown) {
  text-align: center; /* Centra el texto cuando se ingresa */
  letter-spacing: 0.5rem;
  font-weight: 800;
}

/* Botones de numero de cuotas */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem; /* Espacio entre botones */
  text-align: center;
}

.p-button-rounded {
  border-radius:50%;
  padding: 20px;
  background-color: var(--gray-200); 
  border: 2px solid white;
  box-shadow: 0 0 0 3px var(--gray-200);
  color: rgb(81, 81, 81);
  cursor: pointer;
}
.p-button-rounded:focus, .p-button-rounded:active {
  outline: none !important; /* Elimina el borde de enfoque predeterminado */
  box-shadow: 0 0 0 3px var(--primary-200);
}
.active-button{
  box-shadow: 0 0 0 3px var(--primary-200);
  background-color: var(--primary-200);
}

/* Estilo de Interes */

.cont-personalizado ::ng-deep .p-inputnumber{


 }

 /* Estilo para simular cuota */
 .button-press {
  width: 100px;
  height: 100px;
  background-color: var(--blue-500);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px var(--gray-200);
  box-shadow: 0px 5px 10px var(--gray-200), inset 0px 4px 6px var(--gray-200);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.button-press:active {
  box-shadow: 0px 2px 4px var(--gray-200), inset 0px 2px 4px var(--gray-200);
  transform: translateY(4px);
}

.lineaSeparar{
  border: solid 1px var(--gray-300);
}
/* Estilo para banner simulacion */
.custom-banner {
  flex: 1;                        /* Permite que cada banner tome el mismo espacio disponible */
  margin: 5px;                   /* Espacio alrededor de cada banner */
  background: var(--primary-500);
  background: #fff;
  box-shadow: 0 0px 4px rgba(20, 184, 166, 0.5);
  color: var(--gray-500);                 /* Color del texto del banner */
  /* text-align: center;   */           /* Centra el texto dentro del banner */
  border-radius: 8px;             /* Bordes redondeados */
  min-width: 30px;
  min-height: 110px;
  cursor: pointer;
}

