
<div>
    <!-- <div class="surface-card p-4 shadow-2 border-round w-full lg:w-12"> -->
    <div class="surface-card p-0 shadow-0 border-round w-full lg:w-12">
        <div class="text-center mb-5">
            <div id="div_line_bootom" class="text-700 text-2xl mb-3 label-title">Datos de la inversión</div>
        </div>
        
        <div>
            <!-- Monto a invertir -->
             <div class="classInputMonto mb-3">
                <label for="monto" class="block text-600 font-medium mb-2">Monto</label>
                <p-inputNumber
                [(ngModel)]="valueMonto"
                 id="monto" 
                 [minFractionDigits]="2" [maxFractionDigits]="2"  
                 mode="decimal" autocomplete="off" 
                 placeholder="Ingrese monto..." class="w-full mb-1"
                 [min]="objValidationValues.montoLimit.montoMin" [max]="objValidationValues.montoLimit.montoMax"
                 />
                <span *ngIf="valueMonto !== null && valueMonto < objValidationValues.montoLimit.montoMin" class="input-fail">El monto no puede ser menor a S/ {{objValidationValues.montoLimit.montoMin | number:'1.2-2'}}.</span>
                <span *ngIf="valueMonto !== null && valueMonto > objValidationValues.montoLimit.montoMax" class="input-fail">El monto no puede ser mayor a S/ {{objValidationValues.montoLimit.montoMax | number:'1.0-0'}}.</span>
             </div>
            
            
             <!-- cantidad de cuotas -->
             <label for="cuotas" class="block text-600 font-medium mb-2">Nro. de cuotas</label>
             <div class="button-container mb-3 slider-container">
                <div class="flex flex-row justify-content-between slide">
                    <div *ngFor="let cuota of cuotasDiarias; let i = index"  class="flex flex-column justify-content-center gap-2">
                    <button 
                        class="p-button-rounded" 
                        [ngClass]="{'active-button': selected == i + 1}" 
                        (click)="selectButton(i + 1, cuota.valor, cuota.codigo)">
                        {{ ('0' + cuota.valor).slice(-2) }}
                    </button>
                    <span class="desc-cuota"
                    [ngClass]="{'desc-cuota-active': selected == i + 1}" 
                    >días</span>
                </div>
                </div>
                <div class="flex flex-row justify-content-between slide">
                    <div *ngFor="let cuota of cuotasMensuales; let i = index"  class="flex flex-column justify-content-between gap-2">
                    <button 
                        class="p-button-rounded" 
                        [ngClass]="{'active-button': selected == i + 4}" 
                        (click)="selectButton(i + 4, cuota.valor, cuota.codigo)">
                        {{ ('0' + cuota.valor).slice(-2) }}
                    </button>
                    <span class="desc-cuota"
                    [ngClass]="{'desc-cuota-active': selected == i + 4}" 
                    >{{cuota.valor==1?"semana":"semanas"}}</span>
                </div>
                </div>
            </div>


            <!-- valor de interes a aplicar -->
            <label for="interes" class="block text-600 font-medium mb-2">Interés</label>
            <div class="flex flex-row gap-2 align-items-center justify-content-between mb-3">
                <div class="flex flex-column w-full">
                    <div class="card flex flex-column align-items-center w-full">
                        <p-knob [(ngModel)]="valueInteres" size="100" readonly="true" [disabled]="statusPersonalizado"/>
                        <div class="flex gap-2">
                            <p-button 
                                icon="pi pi-plus" 
                                (onClick)="valueInteres = valueInteres+5" 
                                [disabled]="valueInteres >= 100 || statusPersonalizado"/>
                            <p-button 
                                icon="pi pi-minus" 
                                (onClick)="valueInteres = valueInteres-5" 
                                [disabled]="valueInteres <= 5 || statusPersonalizado" />
                        </div>
                    </div>
                </div>

                <div class="flex flex-column w-10"  style="margin-top: auto;">
                    <div class="flex align-items-center gap-1 mb-4">
                        <p-checkbox 
                            inputId="ny" 
                            [(ngModel)]="statusPersonalizado" 
                            [binary]="true" 
                            (onChange)="clicIntPersonalizado()"/>
                        <label for="ny">Personalizado</label>
                    </div>
                        <p-inputNumber
                        [(ngModel)]="valueInteresPerso"
                        id="monto" 
                        [maxFractionDigits]="2"  
                        mode="decimal" autocomplete="off" 
                        placeholder="Ingrese interés..." class="mb-3 w-full"
                        [min]="objValidationValues.interesLimit.interesMin" [max]="objValidationValues.interesLimit.interesMax"
                        [disabled]="!statusPersonalizado"
                        />
                        <span *ngIf="valueInteresPerso !== null && valueInteresPerso < objValidationValues.interesLimit.interesMin" class="input-fail">El interés no puede ser menor a S/ {{objValidationValues.interesLimit.interesMin | number:'1.2-2'}}.</span>
                        <span *ngIf="valueInteresPerso !== null && valueInteresPerso > objValidationValues.interesLimit.interesMax" class="input-fail">El interés no puede ser mayor a S/ {{objValidationValues.interesLimit.interesMax | number:'1.0-0'}}.</span>
                </div>
            </div>

            <div class="flex flex-row gap-2 align-items-center justify-content-between mb-3 lineaSeparar"></div>
            
            <!-- Simular cuota del usuario -->
            <div class="flex flex-row gap-2 align-items-center justify-content-center mb-3">

                <div class="flex flex-column w-6">
                    <div class="card flex flex-column align-items-center w-full">
                        <div class="button-press" (click)="simularCuota()"
                        [ngClass]="{
                            'button-press-disabled': !isFormValid()
                          }"
                        >
                            <span>SIMULAR</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-column w-full">
                    <div class="flex flex-row gap-2 align-items-center justify-content-center">
                        <div class="flex flex-column justify-content-center w-full custom-banner">
                            <span class="text-center mb-1 text-500 font-medium">Valor de la cuota</span>
                            <div class="flex flex-column justify-content-between align-items-center w-full">
                                <span class="w-8">S/</span>
                                <span class="text-4xl font-medium" style="word-break: break-all;">
                                    <div *ngIf="cuotaCargada">{{ valorCuota | number:'1.2-2' }}</div>
                                    <i *ngIf="!cuotaCargada" class="pi pi-spinner pi-spin" style="color: var(--gray-400); font-size: 1.8rem;"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-row gap-2 align-items-center justify-content-between mb-3 lineaSeparar"></div>

            <!-- Fecha inicio y fin -->
            <div class="flex flex-column gap-2 justify-content-center">
                <div class="flex flex-row justify-content-between align-items-center gap-2 mb-4">
                    <div class="flex flex-column w-6 mb-2">
                        <label for="fecha1" class="block text-600 font-medium mb-2">Fecha inicio</label>
                        <p-calendar 
                        [(ngModel)]="date1" 
                        [showIcon]="true" 
                        [showOnFocus]="true" 
                        [touchUI]="true"
                        [dateFormat]="'dd/mm/yy'"
                        [showTime]="false"
                        inputId="fecha1" 
                        (ngModelChange)="updateDate2()"
                        />
                    </div>
                    <div class="flex flex-column w-6 mb-2">
                        <label for="fecha2" class="block text-600 font-medium mb-2">Fecha fin</label>
                        <p-calendar 
                        [(ngModel)]="date2" 
                        [showIcon]="true" 
                        [showOnFocus]="true" 
                        [touchUI]="true"
                        [dateFormat]="'dd/mm/yy'"
                        [showTime]="false"
                        inputId="fecha2" 
                        [disabled]="true"
                        />
                    </div>
                    
                </div>
            </div>

            <div class="card mb-2" style="padding: 5px;">
                <p-floatLabel class="w-full">
                    <textarea 
                        class="w-full"
                        id="float-comentario" 
                        rows="3"
                        cols="30" 
                        [(ngModel)]="comentario"
                        [maxLength]="180"
                        pInputTextarea>
                    </textarea>
                    <label for="float-comentario">Agrega un comentario (opcional)</label>
                </p-floatLabel>
            </div>
             
            <button
            [disabled]="!isFormValid()"
            [ngClass]="{
                'btn-disabled': !isFormValid()
              }"
            pButton pRipple label="Siguiente" (click)="validarDatosInversion()" class="w-full mb-1"></button>
        
        </div>
    </div>
    <app-loading></app-loading>
</div>