
<div>
    <!-- <div class="surface-card p-4 shadow-2 border-round w-full lg:w-12"> -->
    <div class="surface-card p-0 shadow-0 border-round w-full lg:w-12">
        <div class="text-center mb-5">
            <div id="div_line_bootom" class="text-700 text-2xl font-medium mb-3 label-title">Datos de la inversión</div>
        </div>
        
        <div>
            <!-- Monto a invertir -->
             <div class="classInputMonto">
                <label for="monto" class="block text-900 font-medium mb-2">Monto</label>
                <p-inputNumber
                 id="monto" 
                 [minFractionDigits]="2" [maxFractionDigits]="2"  
                 mode="decimal" autocomplete="off" 
                 placeholder="Ingrese monto..." class="w-full mb-3"
                 [min]="1" [max]="100000"
                 />
             </div>
            
            
             <!-- cantidad de cuotas -->
             <label for="cuotas" class="block text-900 font-medium mb-2">Nro. de cuotas</label>
             <div class="button-container mb-3">
                <button pButton pRipple class="p-button-rounded" [ngClass]="{'active-button': selected==1}" (click)="selectButton(1)">07</button>
                <button pButton pRipple class="p-button-rounded" [ngClass]="{'active-button': selected==2}" (click)="selectButton(2)">24</button>
                <button pButton pRipple class="p-button-rounded" [ngClass]="{'active-button': selected==3}" (click)="selectButton(3)">30</button>
            </div>

            <!-- valor de interes a aplicar -->
            <label for="interes" class="block text-900 font-medium mb-2">Interés</label>
            <div class="flex flex-row gap-2 align-items-center justify-content-between mb-3">
                <div class="flex flex-column w-full">
                    <div class="card flex flex-column align-items-center w-full">
                        <p-knob [(ngModel)]="value" size="100" readonly="true" [disabled]="interesPersonalizado"/>
                        <div class="flex gap-2">
                            <p-button 
                                icon="pi pi-plus" 
                                (onClick)="value = value+5" 
                                [disabled]="value >= 100 || interesPersonalizado"/>
                            <p-button 
                                icon="pi pi-minus" 
                                (onClick)="value = value-5" 
                                [disabled]="value <= 5 || interesPersonalizado" />
                        </div>
                    </div>
                </div>

                <div class="flex flex-column w-10"  style="margin-top: auto;">
                    <div class="flex align-items-center gap-1 mb-4">
                        <p-checkbox 
                            value="New York" 
                            inputId="ny" 
                        (click)="clicIntPersonalizado()"/>
                        <label for="ny">Personalizado</label>
                    </div>
                        <p-inputNumber
                        id="monto" 
                        [maxFractionDigits]="2"  
                        mode="decimal" autocomplete="off" 
                        placeholder="Ingrese interés..." class="mb-3 w-full"
                        [min]="5" [max]="200"
                        [disabled]="!interesPersonalizado"
                        />
                </div>
            </div>

            <div class="flex flex-row gap-2 align-items-center justify-content-between mb-3 lineaSeparar"></div>
            
            <!-- Simular cuota del usuario -->
            <div class="flex flex-row gap-2 align-items-center justify-content-center mb-3">

                <div class="flex flex-column w-6">
                    <div class="card flex flex-column align-items-center w-full">
                        <div class="button-press" (click)="simularCuota()">
                            <span>SIMULAR</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-column w-full">
                    <div class="flex flex-row gap-2 align-items-center justify-content-center">
                        <div class="flex flex-column justify-content-center w-full custom-banner">
                            <span class="text-center mb-1 text-500 font-medium">Valor de la cuota</span>
                            <div class="flex flex-column justify-content-between align-items-center w-full">
                                <span class="w-8">S/</span>
                                <span class="text-4xl font-medium" style="word-break: break-all;">{{ valorCuota | number:'1.2-2' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fecha inicio y fin -->
            <div class="flex flex-column gap-2 justify-content-center">
                <div class="flex align-items-center gap-1 mb-2">
                    <p-checkbox 
                        value="New York" 
                        inputId="fif" 
                    (click)="clicFechaInicioFin()"/>
                    <label for="fif">Establecer fecha inicio y fin</label>
                </div>
                <div class="flex flex-column align-items-center gap-1 mb-4" *ngIf="establecerFecha">
                    <div class="flex flex-column w-full mb-2">
                        <label for="fecha1">Fecha inicio</label>
                        <p-calendar 
                        [(ngModel)]="date1" 
                        [showIcon]="true" 
                        [showOnFocus]="true" 
                        [touchUI]="true"
                        [dateFormat]="'dd/mm/yy'"
                        [showTime]="true"
                        inputId="fecha1" />
                    </div>
                    <div class="flex flex-column w-full">
                        <label for="fecha2">Fecha fin</label>
                        <p-calendar 
                        [(ngModel)]="date2" 
                        [showIcon]="true" 
                        [showOnFocus]="true" 
                        [touchUI]="true"
                        [dateFormat]="'dd/mm/yy'"
                        [showTime]="true"
                        inputId="fecha2" />
                    </div>
                    
                </div>
            </div>
             
            <button pButton pRipple label="Siguiente" (click)="validarDatosInversion()" class="w-full"></button>
        
        </div>
    </div>
</div>